.hidden_unless_active { display: none; }
.hidden_unless_active.active { display: block; }

#modetray {
  background: #000930;
  height: 23px;
  border-top: 1px solid black;
  display: none;
  padding: 8px;
  -webkit-transition: height 1s ease;
}

#mode_buttons {
  border-top: 1px solid yellow;
}

#mode_buttons a {
  font-family: gill sans, verdana;
  margin: 0px 5px;
  padding: 0px 7px;
  padding-bottom: 2px;
/*  border: 1px solid #666;*/
/*  border-top: none;*/
  color: #888;
  font-size: 17px;
  letter-spacing: 0.1em;
  background: #101930;
  font-variant: small-caps;
  text-shadow: #000 1px 1px 1px;
}

#mode_buttons a.active { 
  background: #000930; 
  color: white; 
  border: solid 1px yellow;
  border-top: none;
  position: relative;
  top: -1px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: #000 0px 0px 3px;
}

.rbuttons {
  float: right;
}

.rbuttons a, #tray_buttons a {
  text-decoration: none;
  font-variant: small-caps;
  
  color: black;
  font-weight: bold;
  border: solid thin gold;
  padding: 2px 5px;
  font-size: 14px;
  color:#CCC;
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-weight:bold;
  background-color:#333;
  border:1px solid;
  border-top-color:#696;
  border-left-color:#696;
  border-right-color:#363;
  border-bottom-color:#363;
  margin: 4px 4px;
}

.rbuttons a img, #tray_buttons a img {
  height: 12px;
  position: relative;
  top: 1px;
  margin-right: 4px;
}

#tray_buttons a.active {
  background-color:#000;
  color: #fff;
  border-top-color:#363;
  border-left-color:#363;
  border-right-color:#696;
  border-bottom-color:#696;
  position: relative;
  top: 1px;
  left: 1px;
}
