#flexbar {
  overflow: hidden;
  -webkit-transition: height 1s ease;
  height: 21px;
  padding: 0px 30px;
  margin-top: 3px;
}

body.flexbar0 #flexbar { height: 24px; }
body.flexbar1 #flexbar { height: 74px; }

#flexbar #agents { width: 10000px; }

#flexbar #agents > div {
  float: left; display: none;
}

#flexbar #agents > div > div {
  height: 50px;
}

#flexbar #agents h2 {
  padding: 0px 0px 0px 12px;
  margin: 0px 3px 0px 0px;
  font-family: helvetica, arial;
  font-size: 12px;
}

#flexbar #agents h2 em {
  padding: 0px 4px 1px 4px;
  font-weight: normal;
  font-style: italic;
  color: black;
/*  position: relative;*/
/*  bottom: 2px;*/
}

#flexbar #agents img { max-height: 50px; margin-right: 3px; }

/*#flexbar #agents > div > div { height: 50px; }*/
/*#flexbar #agents > div > div > img { float: left; }*/

#flexbar #neglected_agents  h2 { border-top: solid 3px red;    }
#flexbar #neglected_agents  h2 em { background: red;    }
#flexbar #ready_agents      h2 { border-top: solid 3px green;  }
#flexbar #ready_agents  h2 em { background: green;    }
#flexbar #assigned_agents   h2 { border-top: solid 3px yellow; }
#flexbar #assigned_agents  h2 em { background: yellow;    }
#flexbar #available_agents h2 { border-top: solid 3px blue;   }
#flexbar #available_agents  h2 em { background: blue;    }

.agent.busy { color: #82c; }
.agent.yellow { 
  background: #ff9; 
  color: #440;
  border: #ff0 solid thin;
}
