#flexbar {
  overflow: hidden;
  -webkit-transition: height 1s ease;
  height: 24px;
  padding: 0px 30px;
}

body.flexbar0 #flexbar { height: 24px; }
body.flexbar1 #flexbar { height: 84px; }

#flexbar #agents { width: 10000px; }

#flexbar #agents > div {
  float: left; display: none;
}

#flexbar #agents h2 {
  padding: 2px 0px 0px 7px;
  margin: 4px 3px 0px 0px;
  font-weight: normal;
  font-style: italic;
  font-family: helvetica, arial;
  font-size: 12px;
}

#flexbar #agents img { max-height: 50px; margin-right: 3px; }

/*#flexbar #agents > div > div { height: 50px; }*/
/*#flexbar #agents > div > div > img { float: left; }*/

#flexbar #neglected_agents  h2 { border-bottom: solid 3px red;    color: red;    }
#flexbar #ready_agents      h2 { border-bottom: solid 3px green;  color: green;  }
#flexbar #assigned_agents   h2 { border-bottom: solid 3px yellow; color: yellow; }
#flexbar #summonable_agents h2 { border-bottom: solid 3px blue;   color: blue;   }

.agent.busy { color: #82c; }
.agent.yellow { 
  background: #ff9; 
  color: #440;
  border: #ff0 solid thin;
}
