span.gmnoprint a img {
  display:none;
}

.gmnoprint[dir=ltr] {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=20);
}

#fdbk_tab {
  top: auto !important;
  bottom: 25% !important;
}

body.no_city .city_level, body.loading .city_level {
  display: none;
}

.debug_this {
  position: absolute;
  top: 0px;
  left: 0px;
  display:block;
  z-index: 900;
  background: white;
  border: solid thick green;
}

.group:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }

.clearfix:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
