span.gmnoprint a img {
  display:none;
}

.gmnoprint[dir=ltr] {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=20);
}

.hidden, .lio {
  display: none;
}

body.logged_in .m_item.lio {
  display: inline;
}

body.logged_in .lio {
  display: block;
}

.loo {
  display: none;
}

body.logged_out .m_item.loo {
  display: inline;
}

body.no_city .city_level, body.loading .city_level {
  display: none;
}

body #load_spinner {
  visibility: hidden;
}

body.refresh #load_spinner {
  visibility: visible;
}

.debug_this {
  position: absolute;
  top: 0px;
  left: 0px;
  display:block;
  z-index: 900;
  background: white;
  border: solid thick green;
}
