/*body { background: #000 url(i/gccorner.png) no-repeat fixed top left; }*/
body { background: #202940 }
#map_div {
/*  border-top: 1px solid #888;*/
  background: gray;
  height: 392px;
  -webkit-transition: height 1s ease;
}

#console {
  background: #202940;
}

#flexbar_banner {
  position: relative;
}

#flexbar {
  overflow: hidden;
  height: 21px;
  margin-top: 3px;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}


#unsupported {
  position: absolute;
  top: 10%;
  left: auto;
  right: auto;
  width: 400px;
  background: white;
  border: solid thin red;
  color: black;
  font: 18px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  display: none;
  z-index: 5000;
}

#header {
  position: relative; 
  height: 22px;
  width: 100%;
}

#screen {
  position: relative;
  width: 100%;
}

.rside, .lside { position: absolute; cursor: pointer;}
/*.rside { right:0; }*/
/*.lside { left:0; }*/

.rsidep, .lsidep { 
  position: absolute; 
/*  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  -webkit-transition: opacity 1s ease;
*/}
.rsidep { right: 0px; }
.lsidep { left: 0px; }

.rsidep.revealed, .lsidep.revealed {
/*  opacity: 1.0;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 1s ease;
*/}

img[reveal] {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
}
img[reveal]:hover {
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
}
#logo {
  position: absolute; 
  bottom: 0px; left: 30px;
  padding:0;margin:0; 
  display: block;
  color: #aaa;
  font-size: 18px;
  font-variant: small-caps;
  font-family: gill sans, verdana;
  text-shadow: #000 1px 1px 1px;
  font-weight: bold;
/*  font-style: italic;*/
  letter-spacing: .07em;
}

a#logo:hover {
  text-decoration: none;
}

#header_menubar {
  position:absolute; top:0px; right: 10px; color: #999; font-size: 11px;
}

#app_list {
  font-weight: bold;
  font-size: 14px;
  color: #555;
  position: absolute;
  right: 20px;
  top: 45px;
/*  float:right;*/
/*  margin-right: 20px;*/
}

#app_list a {
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: normal;
/*  text-shadow: white 1px 1px 5px*/
  text-shadow: #DDD 1px 1px 3px;
}

#app_list a:hover {
  color: white;
  text-decoration: none;
}
