#map_div {
  background: gray;
  height: 392px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-transition: height 1s ease;
}

#header {
  position: relative; 
  height: 62px;
  background: black;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

#screen {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#breadcrumbs {
  position: absolute;
  left: 236px;
  top: 3px;
  z-index: 400;
}

.rside, .lside { position: absolute; cursor: pointer;}
.rside { right:0; }
.lside { left:0; }
.rsidep, .lsidep { 
  position: absolute; 
/*  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  -webkit-transition: opacity 1s ease;
*/}
.rsidep { right: 30px; }
.lsidep { left: 30px; }

.rsidep.revealed, .lsidep.revealed {
/*  opacity: 1.0;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 1s ease;
*/}

img[reveal] {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter:alpha(opacity=80);
}
img[reveal]:hover {
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
}
#logo {
  position: absolute; 
  bottom: 4px; left: 0px;
  padding:0;margin:0; 
  display: block;
}

#logo img {
  position: absolute; bottom: -3px; z-index: 50;
}

#header_menubar {
  position:absolute; top:0px; right: 10px; color: #999; font-size: 11px;
}



#app_list {
  font-weight: bold;
  font-size: 14px;
  color: #555;
  position: absolute;
  right: 20px;
  top: 45px;
/*  float:right;*/
/*  margin-right: 20px;*/
}

#app_list a {
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: normal;
/*  text-shadow: white 1px 1px 5px*/
  text-shadow: #DDD 1px 1px 3px;
}

#app_list a:hover {
  color: white;
  text-decoration: none;
}
