/*
** Some resets
*/

img { border:0; }
/*textarea { display:block; }*/
body { padding:0; margin:0; }
h1, body { margin:0; padding:0; }
p { text-align: justify; }


/* ============== */
/* = Page stuff = */
/* ============== */

body #load_spinner {
  visibility: hidden;
}

body.refresh #load_spinner {
  visibility: visible;
}

/*
** Header stuff
*/

.m_item {
  padding: 1px 5px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 11px;
  margin-left:  3px;
  margin-right: 3px;
  color: #aaa;
}

a.m_item:hover {
  text-decoration: underline;
  color: #eee;
}

#header {
  position: relative; 
  height: 62px;
  background: black;
  border-bottom: #777 1px solid;  /* #d06f25 #25226A */
  margin: auto;
  width: 100%;
  overflow: hidden;
}

#footer {
    clear:both;
    margin: auto;
    width: 800px;
    border-top: #25226A 1px solid; 
    padding-top: 6px; 
    padding-bottom: 6px;
    font-size: 11px;
    background: #000; 
    color: #ddd;
    text-align: right;
    font-style: italic;
}

#footer u {
  text-decoration:none;
  color: white;
  font-weight: bold;
}
#footer a {
  color: #ddd;
}

#footer a:hover {
  color: white;
}




/* ========== */
/* = Header = */
/* ========== */

#app_list {
  font-weight: bold;
  font-size: 14px;
  color: #555;
  position: absolute;
  right: 20px;
  top: 45px;
/*  float:right;*/
/*  margin-right: 20px;*/
}

#app_list a {
  color: #888;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: normal;
/*  text-shadow: white 1px 1px 5px*/
  text-shadow: #DDD 1px 1px 3px;
}

#app_list a:hover {
  color: white;
  text-decoration: none;
}

#breadcrumbs {
  position: absolute;
  left: 236px;
  top: 3px;
  z-index: 400;
}

#topbar {
  position: relative;
  height: 10px;
}

.clear {
  clear:both;
}

#header_menubar {
  position:absolute; top:0px; right: 10px; color: #999; font-size: 11px;
}

#logo {
  position: absolute; 
  bottom: 4px; left: 0px;
  padding:0;margin:0; 
  display: block;
}

#logo img {
  position: absolute; bottom: -3px; z-index: 50;
}



/* =========== */
/* = Facebar = */
/* =========== */

#agents_scroll_window {
  height: 84px;
  width: 100%;
  overflow: auto;
  border-top: solid thin #fff;
  background: #ccc;
}

#inner_scroll_window {
  width: 10000px;
  position: relative;
}

#agents {
/*  padding-left: 10px;*/
  position: relative;
  float: left;
}

#agents img.thumb {
  display: block;
}

.agent {
  max-width: 80px;
  float: left;
  display: block;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 4px;
  color: #555;
  font-size: 11px;
}

.agent.busy { color: #82c; }
.agent.yellow { 
  background: #ff9; 
  color: #440;
  border: #ff0 solid thin;
}




/* ======= */
/* = Map = */
/* ======= */

img.thumb {
  height: 50px;
  margin: 0 auto;
}

#map_div {
  background: gray;
  height: 392px;
}

#map_div .byline {
  font-weight: bold;
  font-size: 13px;
  color: #a40;
}

#map_div label {
  font-size: 13px;
  font-weight: bold;
  clear:both;
}

#map_div img.thumb {
  padding-right: 10px;
  float:left;
}

span.gmnoprint a img {
  display:none;
}

.gmnoprint[dir=ltr] {
  opacity: 0.2;
  -moz-opacity: 0.2;
  filter:alpha(opacity=20);
}


/* ========== */
/* = Others = */
/* ========== */

#shout {
  height: 26px;
  text-align: center;
  font-size: 12px;
  margin:0;
  background: orange url(i/farm-table-2000.jpg) bottom center;
  border-top: 2px solid #921129;
}

.lio {
  display: none;
}

body.logged_in .m_item.lio {
  display: inline;
}

body.logged_in .lio {
  display: block;
}

.loo {
  display: none;
}

body.logged_out .m_item.loo {
  display: inline;
}

body.no_city .city_level, body.loading .city_level {
  display: none;
}

/*
** HUDs
*/ 

.hud {
  position:absolute; 
  width: 200px;
  background: url(i/w60.png); 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 100;
  color: black;
  padding: 10px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px #222;
  border-bottom: solid 1px #222;
}

.hud hr {
  border: 0;
  height: 1px;
  color: #777;
  background-color: #777;
}

.hud.bgwhite {
  border-top:    solid 2px white;
  border-left:   solid 2px white;
  border-right:  solid 2px #222;
  border-bottom: solid 2px #222;
}

.hud .menu, .hud table {
  text-shadow: none;
}

.hud2 {
  background: white;
}
