.mapwindow h1 {
	color: #333;
	display: inline;
	padding-bottom: 3px;
	}

.mapwindow h2 {
  font-size: 17px;
  color: #000;
  font-weight:bold;
  padding:0;
  margin: 0 0 .25em 0;
  border:none;
}

#person_for_any_mode h2 {
  display: inline;
  padding-right: 20px;
}

#person_for_any_mode .skills.tags {
  float: right;
  padding-right: 20px;
}

#person_for_any_mode .upfor.tags {
  display: inline;
}

#person_for_any_mode .grayish {
  color: #555;
}


.mapwindow .iwbox {
  margin-top: 5px;
  border-top: 1px solid #eee;
  padding-top: 2px;
  font-size: 11px;
}

.mapwindow .iwbox h4 {
  font-size: 11px;
  margin:0; padding:0;
  color: #322;
  display: inline;
  font-weight: normal;
  margin-right: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: solid thin #ffe;
  background: #ffc;
  border-radius: 5px;
  padding: 0px 4px 1px 4px;
  text-shadow: 0px 1px 1px #555;
}


ul.tags {
/*  font-weight:bold;*/
  margin:0;
  padding:0;
  color: #bbb;
}
ul.tags li {
  font-weight:normal;
  display:inline;
  list-style-type:none;
  white-space:nowrap;
/*  color:#3F3F3F;*/
/*  background:#F2F2F2;*/
}

ul.tags li a {
  color:#777;
}




.mapwindow h3 {
  font: 13px "Helvetica", Verdana, sans-serif;
  text-transform: uppercase;
  color: #333333;
  padding: 0;
  margin: 0;
}

.mapwindow h6 {
  font-size:11px;
  font-weight:bold;
  padding:0;
  margin-top:.75em;
  margin-bottom:.25em;
  color:#191919;
}

textarea.big {
  font-size: 18px;
  padding: 5px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  width: 94%;
}

.big input, input.big {
/*  margin-top: 10px;*/
/*  display: block;*/
  font-size: 18px;
  padding: 5px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  max-width: 94%;
}

.big {
  font-size: 15px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  max-width: 94%;
}

p.deemphasize {
	margin: 0px;
	font-size: 11px;
}

.cancel {
	color: red;
	font-size: 10px;
}

.niw_thumb {
  float: left;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  padding:6px;
  text-align:center;
  background:#BFBFBF;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 90%,
    from(transparent),
    to(#B2B2B2));
  -webkit-border-radius: 3px;
}

.mapwindow a {
	color:#333;
	}
	.mapwindow a:hover {
		color:black;
		background: #ccc;
		text-decoration: none ;
		}
.current-assignment {
  font-weight:bold;
  font-size:14px;
  color:#7F7F7F;
}
#make_it_happen_form {
  white-space:nowrap;
  margin-bottom:1em;
}
#make_it_happen_form input.text,
#mission_landmark_invite_form input.text {
  padding:0;
  margin:0;
  border:solid 1px #000;
  font-size:14px;
  margin-top:.5em;
  padding:3px 0px;
  width: 365px;
  border-left:solid 1px #B2B2B2;
  border-top:solid 1px #A5A5A5;
  border-bottom:solid 1px #CCCCCC;
  border-right:solid 1px #CCCCCC;
}

#mission_landmark_invite_form input.text {
  width: 310px;
}

.w75 {width: 75%}

.mapwindow button {
  font-size:14px;
  padding:3px 5px;
  margin:0 0 0 2px;
  cursor:pointer;
  color:white;
  background:#1B224D;
  font-weight:normal;
  border:solid 1px #2D355D;
  border-bottom:solid 1px #0F1633;
  border-right:solid 2px #0F1633;
}

#q-and-a {
  margin-top:1em;
  overflow:auto;
  height:8em;
}
#q-and-a .question {
  margin-top:.5em;
  font-weight: normal;
}
#q-and-a .answer {
  color:#3F3F3F;
  font-size:10px;
}
#q-and-a .timestamp {
  color:#BFBFBF;
  font-size:9px;
  margin-left: 5px;
}
.mapwindow .highlight {
  background:#FFFEE4;
  padding:0 2px;
}
.mapwindow #problem .heading {
  background:#B20000;
  color:#fff;
}
.mapwindow #problem .highlight {
  padding:0 4px;
  color:#B20000;
  font-weight:bold;
  background:#fff;
}