.mapwindow {
    margin: 3px;
}

.mapwindow h1 {
	color: #474848;
	display: inline;
	padding-bottom: 3px;
	}

.mapwindow h2 {
  font-size: 17px;
	color: #474848;
  font-weight:bold;
  padding:0;
  margin: 0 0 .25em 0;
  border:none;
}

.mapwindow h3 {
  font-weight: bold;
	color: #474848;
  padding: 0;
  margin: 0;
}

.mapwindow h6 {
  font-size:13px;
  font-weight:bold;
	color: #474848;
  padding:0;
  margin-top:.75em;
  margin-bottom:.25em;
}

.mapwindow {
  font-size: 13px;
}

/* used in many places */
.counter { color: #888; }


/* =========================== */
/* = agent                   = */
/* =========================== */

#agent_for_any_mode {
  max-width: 600px;
}

.agent_body_main > div, .agent_body_sidebar > div {
  max-height: 10em;
  overflow-y: auto;
}

#agent_for_any_mode .agent_body_main {
  float: left;
  width: 70%;
}

#agent_for_any_mode .agent_body_sidebar {
  float: right;
  width: 27%;
}

#agent_for_any_mode .agent_loc_update {
  display: inline;
}

#agent_for_any_mode h2 {
  display: inline;
  padding-right: 6px;
}

#agent_for_any_mode .skills.tags {
  float: right;
  padding-right: 20px;
}

#agent_for_any_mode .upfor.tags {
  display: inline;
}

#agent_for_any_mode .grayish {
  color: #555;
}

#agent_for_any_mode .note {
  color: #bbb;
}

#agent_for_any_mode img.athumb {
  display: none;
}

#agent_for_any_mode .event div.text {
  margin-left: 0px;
}

#agent_for_any_mode .event .ts {
  display: inline;
}


/* =========================== */
/* = operation               = */
/* =========================== */

#op_for_any_mode {
  width: 420px;
}

#op_for_any_mode .op_body_content {
  min-height: 120px;
  max-height: 220px;
  overflow-y: auto;
}

#op_for_any_mode .events {
  min-height: 120px;
  max-height: 190px;
  overflow-y: auto;
}

#op_for_any_mode div.text {
  margin-left: 32px;
}

#op_for_any_mode img.athumb {
  width: 28px;
  cursor: pointer;
}

#op_for_any_mode .event .re {
  display: none;
}

#op_for_any_mode  .counts li {
  display: inline;
  list-style: none;
  margin-right:5px;
}

#op_for_any_mode  .counts .count {
  font-size: 15px;
  font-weight: bold;
}

#op_for_any_mode .roster_opbody div.agent {
  margin-bottom: 2px;
}

#op_for_any_mode .roster_opbody div.state {
  margin-bottom: 4px;
}

/* =========================== */
/* = map window              = */
/* =========================== */

.mapwindow .iwbox {
  margin-top: 5px;
  /*border-top: 1px solid #eee;*/
  padding-top: 2px;
  font-size: 11px;
}

.mapwindow .iwbox h4 {
  font-size: 11px;
  margin:0; padding:0;
  color: #322;
  display: inline;
  font-weight: normal;
  margin-right: 5px;
  min-width: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: solid thin #888;
  background: #eee;
  padding: 0px 4px 1px 4px;
}

.mapwindow a.delete {
  text-align:center;
  text-decoration:none;
  color: #333333;
}

.mapwindow a.delete:hover {
  color:#CC3300;
}

.mapwindow a.delete.item {
  font-size:15px;
  color: #888;
}

#landmark_for_any_mode a.delete.item {
  margin-left:3px;
  margin-top:-4px;
  position:absolute;
}

.mapwindow hr {
  margin: 6px 0;
}

ul.tags {
  margin:0;
  padding:0;
  color: #bbb;
}
ul.tags li {
  font-weight:normal;
  display:inline;
  list-style-type:none;
  white-space:nowrap;
}

ul.tags li a.tag {
  color:#777;
}

ul.tags .delete {
  display: none;
  margin:0 2.5px 0 -1px;
}

ul.tags:hover .delete {
  display: inline;
}

ul.tags .divider {
  color: #333;
  margin: 0px 2px;
}

ul.tags:hover .divider {
  display: none;
}

.mapwindow ul.nav {
  margin: 0 0 10px;
}

.mapwindow ul.nav a.active {
  font-weight: bold;
}

.mapwindow .nav a {
  color: #0066CC;
}

.mapwindow .nav li {
  display: inline;
  list-style: none;
}

textarea.big {
  font-size: 18px;
  padding: 5px;
  width: 94%;
}

.big input, input.big {
/*  margin-top: 10px;*/
/*  display: block;*/
  font-size: 18px;
  padding: 5px;
  max-width: 94%;
}

.big {
  font-size: 15px;
  max-width: 94%;
}

p.deemphasize {
	margin: 0px;
	font-size: 11px;
}

.cancel {
	color: red;
	font-size: 10px;
}

.niw_thumb {
  float: left;
  height: 48px;
  width: 48px;
  margin-right: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  background:#BFBFBF;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 90%,
    from(transparent),
    to(#B2B2B2));
  -webkit-border-radius: 3px;
}

.niw_slow_thumb {
  height: 24px;
  width: 24px;
  padding: 2px;
  margin-right: 15px;
}

.mapwindow a {
	color: #0066CC;
}
.mapwindow a:hover {
	background: #ccc;
	text-decoration: none;
}

.mapwindow a.popup {
  color:#3366BB;
  background:url("i/icons/popup.png") no-repeat scroll right center transparent;
  padding-right:13px;
}

.mapwindow a.popup:hover {
  color:#114499;
  background:#DDEEFF url("i/icons/popup.png") no-repeat scroll right center;
}

.current-assignment {
  font-weight:bold;
  color:#7F7F7F;
}
#make_it_happen_form {
  white-space:nowrap;
}
.mapwindow input.text {
  padding:0;
  margin:0;
  border:solid 1px #000;
  margin-top:.5em;
  padding:3px 0px;
  width: 340px;
  border-left:solid 1px #B2B2B2;
  border-top:solid 1px #A5A5A5;
  border-bottom:solid 1px #CCCCCC;
  border-right:solid 1px #CCCCCC;
}

.mapwindow input.text.short {
  width: 320px;
}

#mission_landmark_invite_form input.text,
#question_landmark_form input.text {
  width: 310px;
}

.w75 {width: 75%}

.mapwindow button {
/*   font-size:14px; */
  padding:3px 5px;
  margin:0 0 0 2px;
  cursor:pointer;
  color:white;
  background: #FF763C;
  font-weight:normal;
  border:solid 1px #FF763C;
  border-bottom:solid 1px #FF763C;
  border-right:solid 2px #FF763C;
}

.mapwindow button.smaller {
  font-size: 12px;
  padding: 2px 5px;
  font-weight: bold;
}

.questions_agentbody .question {
  margin-top:.5em;
  font-weight: normal;
}
.questions_agentbody .answer {
  color:#3F3F3F;
}
.questions_agentbody .timestamp {
  color:#BFBFBF;
  margin-left: 5px;
}
.mapwindow .highlight {
  background:#FFFEE4;
  padding:0 2px;
}
.mapwindow .concern .heading {
  background:#B20000;
  color:#fff;
}
.mapwindow .concern .highlight {
  padding:0 4px;
  color:#B20000;
  font-weight:bold;
  background:#fff;
}

/* Landmarks */

.landmark_thumb {
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 10px;
  margin-bottom: 5px;
  overflow: hidden;
  background:#BFBFBF;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 90%,
    from(transparent),
    to(#B2B2B2));
  -webkit-border-radius: 3px;
}

.landmark_edit a {
  color: #ccc;
}
