/* =============== */
/* = popup menus = */
/* =============== */

div.menu {
	position: absolute;
	background: rgba(18,18,18,.99);
	z-index: 400;
	font-size: 12px;
	-moz-border-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding:1em 1em 2em 1em;
  border:solid 2px #0C0C0C;
  border-top:none;
}

div.menu div.mitem {
	display: block;
	color: black;
	padding: 5px;
}

div.menu div.mitem:hover, div.menu div.mitem.pick {
	background: #999;
	color: white;
}

div.menu div.mitem.trigger {
	background: #eee;
	color: black;
}







/* ================= */
/* = little header = */
/* ================= */

div.menu h4 {
  margin: 0;
	padding-top: 8px;
	padding-bottom: 2px;
	color: #7F7F7F;
}

div.menu hr {
	height: 0px;
	padding:0;
	margin:0;
	border-bottom: #999 dashed 1px;
	border-top: none;
}
