#modetray {
  background: #000930;
  height: 80px;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  display: none;
}

#modetray > div { display: none; }
#modetray > div.selected { display: block; }

#mode_buttons a {
  font-family: gill sans, verdana;
  margin: 0px 5px;
  padding: 0px 7px;
/*  border: 1px solid #666;*/
/*  border-top: none;*/
  color: #aaa;
  font-size: 17px;
  letter-spacing: 0.1em;
  background: #101940;
}

#mode_buttons a.selected { 
  background: #000930; 
  color: white; 
  border: solid 1px yellow;
  border-top: none;
  position: relative;
  top: -1px;
  padding-left: 6px;
  padding-right: 6px;

}
