.hud {
  position:absolute;
  width: 400px;
  background: rgba(25,25,25,.95);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 100;
  color: #CCCCCC;
  padding: 10px;
  border-top: solid 1px #191919;
  border-left: solid 1px #191919;
  border-right: solid 1px #191919;
  border-bottom: solid 1px #191919;
}

.hud a {
  color: #8BA2CD;
}

.hud h1 {
  font-size: 12px;
  color: #bbb;
  margin: 0; padding: 0;
}

.hud h2 {
  font-size: 22px;
  color: #F2F2F2;
  margin:0; padding:0;
}

.hud hr {
  border: 0;
  height: 1px;
  border-top:solid 1px #666666;
  color: transparent;
  background-color: transparent;
}

.hud strong {
  color:#E5E5E5;
}

.hud button, .hud a.btn {
  background:#333333;
  border:solid 1px rgba(0,0,0,.45);
  border-bottom:solid 1px rgba(0,0,0,.6);
  border-right:solid 1px rgba(0,0,0,.6);
  color:#E5E5E5;
  font-weight:normal;
  text-decoration:underline;
  cursor:pointer;
  padding:6px 6px;
  font-size:11px;
}
.hud button.primary, .hud a.btn {
  font-weight:bold;
  background:#3A3A3A;
  color:#F2F2F2
}

/* Approve Deputies */
.approve_deputies_tool {
  height:350px;
  width:700px;
  top: 160px;
  left: 372px;
}
.hud .scrolling_section {
  height:250px;
  margin-top:1em;
  overflow:auto;
}
.approve_deputies_tool .wishes {
  height:300px;
  margin-top:1em;
  overflow:auto;
}
.hud .wish {
  margin-bottom:1.5em;
}

.hud .wish strong {
  font-size: 15px;
}
.hud .wish strong a {
  color: #fff;
}
.hud .thumb {
  float:left;
  width:60px;
}
.hud .thumb img {
  width:48px;
  height:48px;
  padding:3px;
  background-color:#262626;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(transparent),
    to(#2D2D2D));
  -webkit-border-radius:3px;
}
.hud .info {
  float:left;
  width:480px;
  margin-top:3px;
  padding-right:10px;
}
.hud .xtra_info {
  font-size:10px;
/*  margin-top:.5em;*/
}
.approve_deputies_tool .actions {
  float:left;
  width:125px;
  margin-top:3px;
}

.hud.current_invitations_tool table {
  margin-top: 20px;
  border-collapse:collapse;
  width: 780px;
}

.hud.current_invitations_tool div {
  overflow-y: auto;
  max-height: 370px;
}

.hud.current_invitations_tool th {
  color: red;
  text-align: left;
}

.hud.current_invitations_tool p {
  margin:0;
  color: #999;
}

.hud.current_invitations_tool td {
  border: 1px solid #444;
  padding: 2px 5px;
}

.hud.help_keyboard_tool th {
  padding-top: 10px;
  text-align: left;
  color: #FFFFFF;
  font-weight: bold;
}

.hud.help_keyboard_tool .key {
  color: #E56B0B;
  font-family:courier new;
  font-weight: bold;
  font-size: 110%;
}

.hud
