.hud {
  position:absolute; 
  width: 400px;
  background: rgba(25,25,25,.5); 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 100;
  color: white;
  padding: 10px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px #222;
  border-bottom: solid 1px #222;
}

.hud h1 {
  font-size: 12px;
  color: #bbb;
  margin: 0; padding: 0;
}

.hud h2 {
  font-size: 22px;
  color: #ddd;
  margin:0; padding:0;
}


.hud hr {
  border: 0;
  height: 1px;
  color: #777;
  background-color: #777;
}
