body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
}


/*
** Header stuff
*/

.clear {
  clear:both;
}


em {
  color: #644;
  font-style: normal;
}

big {
  font-weight: bold;
}

.rel {
  position: relative;
}

.abs_right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.gray {
  color: #888;
}

.in {
	padding-left: 15px;
}

.box {
  border: solid thin #999;
  background: #ddd;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
}


/*
** many kinds of links
*/

.center {
  text-align: center;
}

.u {
  text-decoration: underline;
}

input.prompting, textarea.prompting {
  font-style:italic;
  color: #D8D8D8;
  color: #bbb;
}

.spacebelow {
  margin-bottom: 10px;
}

.morespacebelow {
  margin-bottom: 20px;
}

.no-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

#sidebar a.button {color: black;}

.button {
  text-decoration: none;
  background: green;
  font-weight: bold;
  padding: 4px 15px;
  font-size: 16px;
  border:1px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-top-color:#696;
  border-left-color:#696;
  border-right-color:#363;
  border-bottom-color:#363;
  text-shadow: #444 0px -1px 1px;

  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 40%,
    from(rgba(255,255,255,0.3)),
    to(transparent));

 -webkit-box-shadow: 0px  3px 3px rgba(0,0,0,0.5);
 -moz-box-shadow: 0px  3px 3px  rgba(0,0,0,0.5);

}


/*
** Section headings, intros, and contentboxes
*/

.head {
  font-size: 22px;
  font-weight: bold;
}

div.head {
    text-decoration: none;
    padding: 2px 10px;
    padding-bottom: 0px;
}


/* =========== */
/* = spacing = */
/* =========== */

.inset {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
}


/* ======= */
/* = new = */
/* ======= */


.smallgray {
  font-size: 11px;
  color: #777;
  font-weight: normal;
}

.small {
  font-size: 11px;
  font-weight: normal;
}

.down {
  margin-top: 10px;
}


/* ========== */
/* = others = */
/* ========== */

img.hover_opacity {
  opacity: 50%;
}

a:hover img.hover_opacity {
  opacity: 100%;
}

.large {
  font-size: 18px;
}

.right {
  text-align: right;
}

.space {
  margin-top: 10px;
}

.xspace {
  margin-top: 16px;
}

.xpad {
  padding-top: 16px;
}

.clear {
  clear:both;
}
hr.spacer {
  color:transparent;
  background:transparent;
  border:none;
}
