/* some resets */
img { border:0; }
body { overflow: hidden; }
h1, body { margin:0; padding:0; }
a { text-decoration: none; }
form {margin:0;padding:0;}

body #load_spinner {
  display:none;
  position: absolute;
}

body.refresh #load_spinner {
  display:inline;
  right: 5px;
}

.hidden, .lio {
  display: none;
}

body.logged_in .m_item.lio {
  display: inline;
}

body.logged_in .lio {
  display: block;
}

.loo {
  display: none;
}

body.logged_out .loo {
  display: inline;
}

#unsupported {
  position: absolute;
  top: 4px;
  left: 40%;
  width: 220px;
  background: white;
  border: solid thin red;
  color: black;
  font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  z-index: 5000;
  display: none;
}

#loading_data,
#loading_data_failed {
  text-align:center;
  width: 300px;
}
