/* some resets */
img { border:0; }
h1, body { margin:0; padding:0; }
a { text-decoration: none; }
form {margin:0;padding:0;}

body #load_spinner {
  display:none;
  position: absolute;
  left: 200px;
  top: 20px;
}

body.refresh #load_spinner {
  display:inline;
  padding:0px 3px;
}

.hidden, .lio {
  display: none;
}

body.logged_in .m_item.lio {
  display: inline;
}

body.logged_in .lio {
  display: block;
}

.loo {
  display: none;
}

body.logged_out .loo {
  display: inline;
}

#header_menubar {
  position:absolute; 
  top:0px; 
  right: 3px; 
  color: #999; 
  font-size: 11px;
  background:#141A33;
  border-bottom:solid 1px #1B224D;
  border-right:solid 1px #1B224D;
  color:#E5E5E5;
  margin:0;
  padding:5px 1em 8px 1em;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  text-align:center;
}

#unsupported {
  position: absolute;
  top: 10%;
  left: 300px;
  width: 400px;
  height: 400px;
  background: white;
  border: solid thin red;
  color: black;
  font: 18px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  text-align: center;
  z-index: 5000;
}

#loading_data {
  text-align:center;
  top: 40%;
  left: 500px;
  width: 300px;
}

#unsupported {
  display: none;
}

#header {
  position: relative; 
  height: 35px;
  width: 100%;
  -webkit-box-shadow: 0px 10px 33px rgba(13,13,13,1);
  padding-bottom:3px;
/*  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;*/
  border-top:solid 1px rgba(12,12,12,.1);
  background:#1B224D;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 40%, 
    from(rgba(242,242,242,.1)), 
    to(rgba(12,12,12,.1)));
  z-index:9000;
}

#logo {
  position: absolute; 
  top: 4px;
  left: 5px;
  padding:0;
  margin:0; 
}

#logo img {
  width: 200px;
}

a#logo:hover {
  text-decoration: none;
}
