body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;  
}


/*
** Header stuff
*/

.m_item {
  padding: 1px 5px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 11px;
  margin-left:  3px;
  margin-right: 3px;
  color: #fff;
}

a.m_item:hover {
  text-decoration: underline;
  color: #eee;
}

.clear {
  clear:both;
}


em {
  color: #644;
  font-style: normal;
}

big {
  font-weight: bold;
}

.rel {
  position: relative;
}

.abs_right {
  position: absolute;
  right: 0px;
  top: 0px;
}

.gray {
  color: #888;
}

.in {
	padding-left: 15px;
}

.box {
  border: solid thin #999;
  background: #ddd;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
}


/*
** many kinds of links
*/

.center {
  text-align: center;
}

.u {
  text-decoration: underline;
}

.intro {
  margin-bottom: 15px;
}

input.prompting, textarea.prompting {
  color: gray;
}

.spacebelow {
  margin-bottom: 10px;
}

.morespacebelow {
  margin-bottom: 20px;
}

.button {
  text-decoration: none;
  background: green;
  color: black;
  font-weight: bold;
  border: solid thin gold;
  padding: 2px 5px;
  font-size: 14px;
  color:#050;
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-weight:bold;
  background-color:#fed;
  border:1px solid;
  border-top-color:#696;
  border-left-color:#696;
  border-right-color:#363;
  border-bottom-color:#363;
}


/*
** Section headings, intros, and contentboxes
*/

.head {
  font-size: 22px;
  font-weight: bold;
}

div.head {
    text-decoration: none;
    padding: 2px 10px;
    padding-bottom: 0px;
}


/* =========== */
/* = spacing = */
/* =========== */

.inset {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
}


/* ======= */
/* = new = */
/* ======= */


.smallgray {
  font-size: 11px;
  color: #777;
  font-weight: normal;
}

.small {
  font-size: 11px;
  font-weight: normal;
}

.down {
  margin-top: 10px;
}


/* ========== */
/* = others = */
/* ========== */

img.hover_opacity {
  opacity: 50%;
}

a:hover img.hover_opacity {
  opacity: 100%;
}

.large {
  font-size: 18px;
}

.right {
  text-align: right;
}

.space {
  margin-top: 10px;
}

.xspace {
  margin-top: 16px;
}

.xpad {
  padding-top: 16px;
}
