/* fonts */
.palette h1, .palette h2 { font-family: gill sans, verdana; font-weight: normal; text-shadow: #000 1px 1px 1px; }
.palette h4, .palette p  { font-family: helvetica; font-weight: normal; text-shadow: #339 0px 0px 4px; color: #a090ff; }

/* font sizes */
.palette h1 { font-size: 20px; text-align: center; margin:0; padding:0; }
.palette h2 { font-size: 20px; margin:0; padding:0; margin-bottom: 10px; }
.palette h4 { font-size: 15px; margin:0; padding:0; margin-top: 5px; }
.palette p { font-size: 12px; margin:0; padding:0; margin-top: 15px; }  

/* images */
.palette h2 img { position: relative; top: 10px; left: -10px; }
.palette h2 { position: relative; top: -10px; text-align: center; }

.btn { 
  margin-top: 6px;
  color: #FF7D09;
  text-shadow: #FF4a00 0px 0px 4px;
  text-align: center;
}

.btn:hover {
  color: #fff;
  text-shadow: #fff 0px 0px 8px;
}
