.palette {
  position: absolute;
  z-index: 100;
  color: white;
  width: 400px;
}

/* coloring */
.tgray { background: url(i/trans/g90.png); padding: 20px;  }
.tblack { background: url(i/trans/b80.png); padding: 20px; }

/* fonts */
.palette h1, .palette h2 { font-family: gill sans, verdana; font-weight: normal; text-shadow: #000 1px 1px 1px; }
.palette #text h4, .palette #text p  { font-family: helvetica; font-weight: normal; text-shadow: #339 0px 0px 4px; color: #a090ff; }

/* font sizes */
.palette h1 { font-size: 20px; text-align: center; margin:0; padding:0; }
.palette h2 { font-size: 20px; margin:0; padding:0; margin-bottom: 10px; }
.palette h4 { font-size: 15px; margin:0; padding:0; margin-top: 5px; }
.palette #text p { font-size: 12px; margin:0; padding:0; margin-top: 15px; }  

/* images */
.palette h2 img { position: relative; top: 10px; left: -10px; }
.palette h2 { position: relative; top: -10px; text-align: center; }

.btn { 
  margin-top: 6px;
  color: #FF7D09;
  text-shadow: #FF4a00 0px 0px 4px;
  text-align: center;
}

.btn:hover {
  color: #fff;
  text-shadow: #fff 0px 0px 8px;
}

#map_div .btn:hover {
  color: #000;
  text-shadow: #000 0px 0px 8px;
}


a.closebox {
  position: absolute;
  top: 1px;
  right: 1px;
}

a.closebox img {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter:alpha(opacity=70);
}

a.closebox img:hover {
  opacity: 1.0;
  -moz-opacity: 1.0;
  filter:alpha(opacity=100);
}


body.has_reveal .divcenter {
  display: none;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}
