img { border:0; }
/*textarea { display:block; }*/
body { padding:0; margin:0; background: #000 url(i/earth.png) no-repeat fixed top left; }

body {
/*  background: #000 url(i/earth.png) no-repeat fixed 0px -65px;*/
  background: #000 url(i/stars.gif) no-repeat fixed;
}

#logo b {
  text-shadow: #000 0px 0px 3px;
}

h1, body { margin:0; padding:0; }
p { text-align: justify; }
