body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px;  
}


/*
** Header stuff
*/

.m_item {
  padding: 1px 5px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 11px;
  margin-left:  3px;
  margin-right: 3px;
  color: #fff;
}

a.m_item:hover {
  text-decoration: underline;
  color: #eee;
}

.clear {
  clear:both;
}


em {
  color: #644;
  font-style: normal;
}

big {
  font-weight: bold;
}

.rel {
  position: relative;
}

.abs_right {
  position: absolute;
  right: 0px;
  top: 0px;
}


.small big {
  font-weight: normal;
  font-size: 16px;
}

.gray {
  color: #888;
}

span.dgray a {
  color: #555;
}

.dgray {
  color: #555;
}

.in {
	padding-left: 15px;
}

.box {
  border: solid thin #999;
  background: #ddd;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
}

.testbox {
  margin-left: 20px;
  margin-top: 20px;
}


/*
** many kinds of links
*/

a {
  text-decoration: none;
}

a.q {
  color: #007;
  font-weight: bold;
}

.tiny {
  font-size: 10px;
}

/*a:hover{
  text-decoration: underline;
}
*/

.center {
  text-align: center;
}

.u {
  text-decoration: underline;
}

.intro {
  margin-bottom: 15px;
}

input.prompting, textarea.prompting {
  color: gray;
}

.spacebelow {
  margin-bottom: 10px;
}

.morespacebelow {
  margin-bottom: 20px;
}

body a.subtle {
  color: #ddd;
  text-decoration: none;
}

body a.subtle:hover {
  text-decoration: underline;
  color: white;
}

.button {
  text-decoration: none;
  background: green;
  color: black;
  font-weight: bold;
  border: solid thin gold;
  padding: 2px 5px;
  font-size: 14px;
  color:#050;
  font-family:'trebuchet ms',helvetica,sans-serif;
  font-weight:bold;
  background-color:#fed;
  border:1px solid;
  border-top-color:#696;
  border-left-color:#696;
  border-right-color:#363;
  border-bottom-color:#363;
}

ul a.more { color: #555; }

a.popup_link {
  color: black;
}
a.popup_link:hover {
  background: #ffc;
  text-decoration: none;
}

a.nocolor {
  color: #000;  
}

a.nocolor:hover {
  color: #000;
  text-decoration: underline;
}


/*
** Section headings, intros, and contentboxes
*/


span.expl {
  color: #555;
}

.head {
  font-size: 22px;
  font-weight: bold;
}

div.head {
    text-decoration: none;
    padding: 2px 10px;
    padding-bottom: 0px;
}

.mhead {
  font-size: 18px;
}

.content {
    padding: 2px 10px;
    margin-bottom: 10px;
    
}
.secintro {
  font-size: 13px; padding: 10px; padding-top: 3px; padding-bottom: 5px; color: #555;
}

.msecintro {
  font-size: 13px; padding-top: 3px; padding-bottom: 5px; color: #555;
}

span.tip {
  color: gray;
}

.tinysmall {
  font-size: 14px;
  font-variant: small-caps;
  margin:0;
  margin-bottom: 5px;
}


/* =========== */
/* = spacing = */
/* =========== */

.inset {
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 15px;
}

fieldset {
  padding-left: 20px;
}


/* ======= */
/* = new = */
/* ======= */


.smallgray {
  font-size: 11px;
  color: #777;
  font-weight: normal;
}

.small {
  font-size: 11px;
  font-weight: normal;
}


body#viewer .medgray {
  font-size: 13px;
  color: #666;
  font-weight: normal;
}

.down {
  margin-top: 10px;
}
.quote {
  font-weight: bold;
  font-size: 14px;
  color: #444;
}



[popper]:hover {
  background: #eea;
  text-decoration: none;
}


/* ========== */
/* = others = */
/* ========== */

img.hover_opacity {
  opacity: 50%;
}

a:hover img.hover_opacity {
  opacity: 100%;
}

.editable:hover {
  background: #eea;
  text-decoration: none;
}



.large {
  font-size: 18px;
}

.g3 {
  color: #333;
}


.right {
  text-align: right;
}

.space {
  margin-top: 10px;
}

.xspace {
  margin-top: 16px;
}

.xpad {
  padding-top: 16px;
}

