#youbox {
  position:absolute; 
	right: 15px;
	bottom: 0px;
	font-size: 15px;
  z-index: 0;
  color: #aaa;
  font-family: gill sans;
  padding: 0px 10px;
  text-shadow: #000 0px 1px 1px;
}

#youbox a {
  color: #aaa;
}
