#youbox {
  color:#E5E5E5;
  display:inline;
  margin-right:1em;
  padding-right:1em;
  /*border-right:dotted 1px rgba(229,229,229,.3);*/
  border-right:dotted 1px #aaa;;
}

#youbox a {
  color: #999;
}
