#you_img {
  height: 50px;
  float: left;
  margin-right: 5px;
  border: solid thin #530;
}

#youbox {
	left: 545px; top: 3px; width: 300px; height: 55px; overflow: hidden;
	font-size: 11px;
  position:absolute; 
  z-index: 100;
  color: #a72;
  font-family: gill sans;
}

#youbox a {
  color: #a72;
}

#youbox_agent {
  font-size: 12px;
  margin-top: 6px;
  font-family: helvetica, arial;
}

#youbox_agent a {
  color: #ddd;  
}