.hidden_unless_active { display: none; }
.hidden_unless_active.active { display: block; }

/* for now, disable approve deputies and squad settings */
li.approve_deputies_tool, li.squad_settings_tool { display: none; }
body#viewer .demo_mode_only { display: none; }
body#viewer.demo_mode .demo_mode_only { display: inline; }
body#viewer.demo_mode .not_demo_mode { display: none; }
body#viewer.demo_mode #sms_counter {display:none;}
body#viewer.demo_mode #home {display:none;}
body#viewer.demo_mode a.approve_deputies_tool { display: inline; }
body#viewer.demo_mode a.squad_settings_tool   { display: none; }
body#viewer.stream_role_organizer a.squad_settings_tool, body#viewer.stream_role_read_only a.squad_settings_tool { display: none; }

#console .button_dropdown button, #console a {
    background: none;
    padding: 4px 5px;
    padding-right: 9px;
    color:white;
    text-shadow: #333 0px 1px 1px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    border-right: 1px solid #4f5050;
    border-left: 1px solid #6f7070;
}

#console #rconsole .select {
    font-size: 12px;
}

#console .button_dropdown button.first, #console a.first {
    border-left: none;
}

#console .button_dropdown button.last {
    border-right: none;
}

#console .button_dropdown .dropdown {
  -webkit-box-shadow: 3px 3px 7px #000;
  bottom: 27px;
}

#console .button_dropdown .dropdown .select {
    height: auto;
    top: auto;
}

#console .button_dropdown .dropdown.west {
  right: 50px;
}


#console a.active {
    color: white;
    text-shadow: #ff8 0px 0px 3px;
}

.arr {
    font-size: 9px;
    color: #ccc;
}

#rconsole .button_dropdown button, #rconsole a {
    color:#ccc;
}