.hidden_unless_active { display: none; }
.hidden_unless_active.active { display: block; }
body.zoomed_out .local_only {display:none;}

#modetray {
  background:#BFBFBF;
  background:#111;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 80%, 
    from(rgba(51,51,51,.5)), 
    to(transparent));
  height: 35px;
  display: none;
  padding: 8px 8px 0px 8px;
  border-bottom:solid 2px #383838;
  -webkit-transition: height 1s ease;
}

#mode_buttons {
  position:relative;
  top:-8px;
}

#mode_buttons a#coordinate_mode_button.active {
  padding-bottom: 20px;
  padding-top: 8px;
  top: -5px;
  position: relative;
}

#mode_buttons a {
  font-family: Verdana;
  margin: 0px 2px 0px 0px;
  padding: 5px 25px 7px 25px;
  color: #fff;
  font-size: 16px;
  background: #1B224D;
  font-weight:normal;
  text-decoration:underline;
  -webkit-box-shadow: 0px -2px 3px rgba(14,14,14,.1);
  border-top:solid 1px rgba(12,12,12,.2);
  border-right:solid 1px rgba(12,12,12,.2);
  border-left:solid 1px rgba(12,12,12,.2);
  border-bottom:none;
  
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  
}

#mode_buttons a.active { 
  color: #fff; 
/*  border-top: solid 1px #7F7F7F;*/
  border-right:solid 1px #595959;
  border-left:solid 1px #595959;
  background:#7F7F7F;
  background:#000;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
/*  -webkit-box-shadow: 0px 0px 0px transparent;*/
/*  -webkit-box-shadow: 0px 0px 13px #ffe;*/
  text-decoration:none;
}

.rbuttons {
  float: right;
  margin-top: 1em;
}

#tray_buttons a {
  text-decoration:underline;
  color: black;
  padding:3px 0px 0px 0px;
  margin:0px 7px 0px 7px;
  font-size: 11px;
  color:#1B224D;
  color:#5B729D;
  font-family:Verdana;
  font-weight:bold;
  text-decoration:none;
  border-bottom:dotted 1px;
}


/*.hud .rbuttons a {
  color: #E5E5E5;
}
*/
/*.hud a {
  color: #9595df;
  font-weight: bold;
}
*/
.rbuttons a img, #tray_buttons a img {
  height: 12px;
  position: relative;
  top: 1px;
  margin-right: 4px;
  display:none;
}

#tray_buttons a.active {
  background-color:#1B224D;
  color: #E5E5E5;
  border-bottom:none;
  position: relative;
  top: 1px;
  left: 1px;
  font-weight:normal;
  padding:2px 5px 2px 5px;
  margin:0px 2px 0px 2px;
}
