#group_actions {
  background: yellow;
  color: black;
  position: absolute;
  top: 0px;
  padding: 4px 15px;
  font-weight: bold;
  font-size: 14px;
  z-index: 450;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius:  10px;
  -webkit-box-shadow: 3px 3px 7px #0C0C0C;
}

#facebar {
    background-color: black;
    background-image: -webkit-gradient(
        linear, 0% 0%, 0% 100%,
        from(#555),
        color-stop(70%, black),
        color-stop(70%, rgba(51,51,51,.9)),
        to(#bbb));
}
#flexbar {
  height: 94px;
  overflow: hidden;
  position: relative;
  background:transparent;
}
#flexbar_arrows {
  position: absolute;
  right:0;
  top: 0px;
  width: 24px;
  height: 64px;
  padding: 4px 3px;
  background: #ccc;
  font-size: 24px;
  text-shadow: #fff 0px 2px 3px;
  color: #000;
   z-index:99;

   border-left: #669 solid thin;
}


#search_form,
#search_form a {
  display: inline;
  color: #b0b0b0;
}
#search {
  -webkit-border-radius: 9px;
  border-top:solid 1px #BFBFBF;
  border-left:solid 1px #BFBFBF;
  border-right:solid 1px #E5E5E5;
  border-bottom:solid 1px #E5E5E5;
  background:#F2F2F2 url(i/icons/icon-search.gif) top 98% no-repeat;
  padding:2px 20px 2px 5px;
}

#flexbar #empty_text {
  display:none;
  position: relative;
  top: 20px;
  left: 30px;
  color: white;
}

body.loading #flexbar #empty_text {
  display:none;
}

#flexbar.empty #empty_text {
  display:block;
  position: absolute;
  color: white;
  font-size: 18px;
}

#flexbar.empty #empty_text a {
  font-weight: bold;
  color: #8BA2CD;
}

#flexbar #agents {
   width: 300000px; /*100 * 3000 = 300 000*/
   background-color:#7A9FBF;
}

#flexbar #agents > div {
  float: left; display: none;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(white),
    to(rgba(51,51,51,.9)));
}

#flexbar #agents > div > div {
  height: 73px;
}

#flexbar #agents .athumb img.th {
  height:58px;
  opacity:1;
  border-left:solid 1px #212121;
  border-bottom:solid 1px #2B2B2B;
  border-right:solid 1px #2B2B2B;
}
#flexbar #agents .athumb img.th:hover {
   opacity:1;
}

#flexbar #agents .athumb img.badge {
  position: absolute;
  top: 3px;
  right: 2px;
  z-index: 40;
  display: none;
}

#flexbar #agents .athumb:hover img.badge {
  display: block;
}

#flexbar #agents .athumb b {
  position: absolute;
  width: 64px;
  right: 2px; bottom: 2px;
  font-size: 10px;
  text-align: right;
  color: #ddd;
  text-shadow: #000 0px 1px 2px;
  z-index: 10;
}

#flexbar #agents .athumb {
  overflow: hidden;
  float: left;
  position: relative;
  width: 60px;
  padding:4px 6px;
  padding-top:6px;
  text-align:center;
  background:#262626;
  background:#777;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(transparent),
    to(#2D2D2D));
  cursor:pointer;

  border-left:solid 1px #333;

}

#flexbar #agents .athumb.selected img.th {
  opacity: 1;
  -moz-opacity: 0.9;
  filter:alpha(opacity=90);
}


#flexbar #agents div h2 {
  margin: 0px 0px 0px 0px;
  font-family: helvetica, arial;
  font-size: 12px;
  font-weight:normal;
  padding: 3px 4px 2px 4px;
  color: #eee;
  border: solid thin gray;
  border-right: none;
  cursor: pointer;
  background: #E56B0B;

  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(#fff),
    to(transparent));

}

#flexbar #agents div {
    position: relative;
}

#flexbar #agents div a {
  color: #888;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 2px #888;
      -moz-box-shadow: 0px 0px 2px #888;
  padding: 0px 4px;
  margin-left: 6px;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(rgba(255,255,255,0.1)),
    to(transparent));
}

#flexbar #agents div a:hover {
  background-color: rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  background-image: -webkit-gradient(
    linear, 0% 0%, 0% 100%,
    from(rgba(255,255,255,0.4)),
    to(transparent));
}

#flexbar #agents div.folded {
  width: 126px;
}

#flexbar #agents div.folded:hover img {
  opacity:.8;
}

#flexbar #agents div.count {
  overflow: hidden;
  position: absolute;
  height: 58px;
  top: 14px;
  width: 116px;
  text-align:center;
  text-shadow: #000 0px 0px 6px;
  z-index: 10;
  font-size: 24px;
  color: #eee;
  font-weight: bold;
}


#flexbar #agents div.selected_count {
  font-weight: bold;
  font-size: 12px;
  color: #ff9;
  overflow: hidden;
  position: absolute;
  bottom: 31px;
  width: 116px;
  text-align:center;
  text-shadow: #000 0px 1px 2px;
  z-index: 10;
}

#flexbar #agents div.folded {
  overflow: hidden;
  border-left:solid 1px #212121;
  border-bottom:solid 1px #2B2B2B;
  border-right:solid 1px #2B2B2B;
  height: 60px;
  width: 116px;
  margin-right: 4px;
  border-style: solid;
  border-width: 6px 4px;
}

#flexbar #agents div.folded img {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
  width:27px;
  height:27px;
  border-left:solid 1px #212121;
  border-right:solid 1px #212121;
  position: float;
}

#flexbar #agents div h2.red    { background: #CC2327; background-image: -webkit-gradient( linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(transparent));   }
#flexbar #agents div h2.orange  { background: #E2AE4B; background-image: -webkit-gradient( linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(transparent));   }
#flexbar #agents div h2.green  { background: #7BB037; background-image: -webkit-gradient( linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(transparent));   }
#flexbar #agents div h2.grey   { background: #A8BFBF; background-image: -webkit-gradient( linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(transparent));   }

#flexbar #agents div h2.red    { border-color:#CC2327; }
#flexbar #agents div h2.orange { border-color:#DA8929; }
#flexbar #agents div h2.green  { border-color:#83BA4A; }
#flexbar #agents div h2.grey   { border-color:#889F9F; }


#flexbar #unknown_agents   h2 { background: #A8BFBF; }
#flexbar #inaccessible_agents h2 { background: #222621; color:#4C4C4C; }
#flexbar #agents #inaccessible_agent_thumbs .athumb img.th { opacity:.5; }

#flexbar div img.toggle_opened {
  position: absolute;
  right: 2px;
  top: -2px;
}

#flexbar div img.toggle_closed {
  position: absolute;
  right: 2px;
  top:-2px;
  display: none;
}

#flexbar #agents div.selected {
  background-color: rgba(255,255,0,0.4);
  opacity: 1;
  -moz-opacity: 0.9;
  filter:alpha(opacity=90);
}

#flexbar #agents .athumb.selected {
  background-color: yellow;
}

.agent.busy { color: #82c; }
.agent.yellow {
  background: #ff9;
  color: #440;
  border: #ff0 solid thin;
}
