
#expando, #collapso {
    z-index: 10;
    color: #aaa;
    padding: 3px 10px;
    padding: 2px 10px 3px 4px;
    font-size: 18px;
    line-height: 0.8em;
    height: 14px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: solid thin #808080;
    border-left: solid thin #555;
    background-image: -webkit-gradient(
     linear, 0% 0%, 100% 0%,
     from(rgba(255,255,255,.15)),
     to(rgba(255,255,255,.0)));
    text-shadow: #333 0px -1px 1px;

}

.collapsed #collapso { display: none; }
.collapsed #expando  { display: block; }
#collapso { display: block; }
#expando  { display: none; }

.m_item {
  margin:0;
  text-decoration: none;
  font-size: 13px;
/*  color: #fff;*/
  padding: 0px 4px 0 0;
}

a.m_item:hover {
  text-decoration: underline;
/*  color: #fff;*/
}

#youbox {
  display:inline;
  color: #000;
  padding: 3px 40px;
  border-bottom: solid thin #444;
  border-top: solid thin #808080;
  background-image: -webkit-gradient(
   linear, 0% 0%, 100% 0%,
   from(rgba(255,255,255,.0)),
   color-stop(20%, rgba(255,255,255,.1)),
   color-stop(50%, rgba(255,255,255,.15)),
   color-stop(80%, rgba(255,255,255,.1)),
   to(rgba(255,255,255,.0)));
  text-shadow: #999 0px 1px 1px;
}

#youbox a {
    color: #229;
    font-weight: bold;
}
#youbox.warning {
  color: #C87;
}


#search_box {
    left: auto; top: auto; right: 30px; bottom: 0px;
    width: 100%;
    float: right;
}

#search_form {
    padding: 4px 20px;
    border-bottom: solid thin #444;
    border-top: solid thin rgba(127,127,127,0.6);
    background-image: -webkit-gradient(
     linear, 0% 0%, 100% 0%,
     from(rgba(255,255,255,.0)),
     color-stop(20%, rgba(255,255,255,.2)),
     color-stop(50%, rgba(255,255,255,.25)),
     color-stop(80%, rgba(255,255,255,.2)),
     to(rgba(255,255,255,.0)));
    text-shadow: #999 0px 1px 1px;
    float: right;
}

#soc_logins {
    float: right;
    margin-top: 3px;
    margin-right: 10px;
}

.fb_authed .fbloo { display: none; }
.fblio { display: none; }
.fb_authed .fblio { display: inline; }
