
/* DEFAULTS FOR POSITIONING */

#header, #header_inside, #header_menubar, #search_box,
#sidebar, #sidebar_bg, #sidebar_fg, #tool, #map,
#console, #lconsole, #rconsole {
  position: absolute;
  left:0; bottom: 0; top: 0; right: 0;
  width: auto; height: auto;
}


/* BASIC POSITIONING */

/* put things in their corners */
#console { top: auto; }
#search_box { left: auto; top: auto; right: 40px; bottom: 3px; }
#header_menubar { text-align: center; top: auto; bottom: 3px; }
#lconsole { left:  10px; right: auto; }
#rconsole { right: 10px; left: auto; }
#gmap { height: 100%; width: 100%; }

/* move things down for header */
#header          { height: 30px; }
#sidebar, #sidebar_bg, #tool  { margin-top: 30px; }

/* move things over for sidebar */
#tool, #header_inside { margin-left: 270px; }
#sidebar, #sidebar_bg, #sidebar_fg  { width: 270px; }

/* position facebar, map, and console within tool */
#facebar { height: 92px; }
#console { height: 25px; }
#map     { margin-top: 92px; margin-bottom: 25px; }

/* pop some things up and down */
#map, #tool { z-index: -1; }
#header     { z-index:  1; }
#sidebar    { z-index:  2; }

/* POSITIONING IN COLLAPSED STATE */

/* when collapsed, no sidebar */
.hide_unless_collapsed { display:none; }
.collapsed .hide_unless_collapsed { display: block; }
.collapsed #sidebar { display: none; }
.collapsed #sidebar_fg { display:none; }
.collapsed #sidebar_bg { display:none; }
.collapsed #tool, .collapsed #header_inside { margin-left: 0px;}

/* when collapsed, h1 goes over header */
.collapsed #header h1 { top: 4px; width: 390px; padding: 2px 10px; font-size: 15px; right: auto; width: auto; z-index: 2; position: absolute; }


/* STYLING */

/* shadows */
#header  { -webkit-box-shadow: 0px  4px 7px #333; -moz-box-shadow: 0px  4px 7px #333; }
h1       { -webkit-box-shadow: 0px  2px 2px  #777; -moz-box-shadow: 0px  2px 2px  #777; }
#facebar { -webkit-box-shadow: 0px  3px 3px  #777; -moz-box-shadow: 0px  3px 3px  #777; }
#console { -webkit-box-shadow: 0px -2px 5px #777;  -moz-box-shadow: 0px -2px 5px #777; }
#blurb   { -webkit-box-shadow: 0px  1px 2px  #777; -moz-box-shadow: 0px  1px 2px  #777; }
#sidebar_bg { -webkit-box-shadow: 1px  0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 1px  0px 3px  rgba(0,0,0,0.3); }

/* colors */
#header  { background: url(i/background_header.png); }
#console { background: url(i/background_console.png); }
#blurb { background: white; color: #666; }
#header, #console { color: white; }
#header { text-shadow: #333 0px -1px 1px; }
#console > div > button { text-shadow: #333 0px -1px 1px; }

p {
	margin: 0 0 1em 0;
}

h1 {
  background: #2f70d0; color: white;
  text-shadow: #55a 0px -1px 1px;
  font-size: 20px; text-align: center; padding-top: 15px; padding-bottom: 7px;
  background-image: -webkit-gradient(
   linear, 0% 0%, 0% 100%,
   from(rgba(200,200,255,.3)),
   to(transparent));
}


img#branding2 {
    display: none;
    left: 600px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    height: 20px;
}

.collapsed img#branding2 {
    display: block;
}
