body.loading { display: none; }


/* DEFAULTS FOR POSITIONING */

#header, #header_inside, #header_menubar, #search_box,
#sidebar, #sidebar_bg, #sidebar_fg,
#tool, #map, #fog,
#console, #lconsole, #rconsole {
  position: absolute;
  left:0; bottom: 0; top: 0; right: 0;
  width: auto; height: auto;
}


/* BASIC POSITIONING */

/* put things in their corners */
#console { top: auto; }
#header_menubar { text-align: center; top: auto; bottom: 4px; }
#lconsole { left:  10px; right: auto; }
#rconsole { right: 10px; left: auto; }
#gmap { height: 100%; width: 100%; }

/* move things down for header */
#header          { height: 30px; }
#sidebar, #sidebar_bg, #tool  { margin-top: 30px; }

/* move things over for sidebar */
#tool, #header_inside { margin-left: 270px; }
#sidebar, #sidebar_bg, #sidebar_fg  { width: 270px; }

/* position facebar, map, and console within tool */
#facebar { height: 93px; }
#console { height: 25px; }
#map     { margin-top: 92px; margin-bottom: 25px; }
.logged_out #map { margin-bottom: 0px; }

/* pop some things up and down */
#map, #tool { z-index: -1; }
#header     { z-index:  1; }
#sidebar    { z-index:  2; }

/* POSITIONING IN COLLAPSED STATE */

/* when collapsed, no sidebar */
.hide_unless_collapsed { display:none; }
.collapsed .hide_unless_collapsed { display: block; }
.collapsed #sidebar { display: none; }
.collapsed #sidebar_fg { display:none; }
.collapsed #sidebar_bg { display:none; }
.collapsed #tool, .collapsed #header_inside { margin-left: 0px;}

/* when collapsed, h1 goes over header */
.collapsed #header h1 {
    position: absolute;
    height:14px;
    margin-top: 1px;
    z-index: 2;
    right: auto; width: auto;
    padding: 6px 20px;
    font-size: 15px;
    left: 30px;
    bottom: 0px;
    border-bottom: solid 1px #138;
    background-color: transparent;

    border-bottom: solid thin #444;
    border-top: solid thin #808080;
    background-image: -webkit-gradient(
     linear, 0% 0%, 100% 0%,
     from(rgba(47,108,207,.0)),
     color-stop(10%, rgba(47,108,207,.6)),
     color-stop(50%, rgba(47,108,207,.85)),
     color-stop(90%, rgba(47,108,207,.6)),
     to(rgba(47,108,207,.0)));
    text-shadow: #444 0px -1px 1px;

}


/* STYLING */

/* shadows */
#header  { -webkit-box-shadow: 0px  4px 7px rgba(0,0,0,0.7); -moz-box-shadow: 0px  4px 7px rgba(0,0,0,0.7); }
#facebar { -webkit-box-shadow: 0px  3px 3px rgba(0,0,0,0.5); -moz-box-shadow: 0px  3px 3px  rgba(0,0,0,0.5); }
#console { -webkit-box-shadow: 0px -2px 5px rgba(0,0,0,0.5);  -moz-box-shadow: 0px -2px 5px rgba(0,0,0,0.5); }
#sidebar_bg { -webkit-box-shadow: 1px  0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 1px  0px 3px  rgba(0,0,0,0.3); }

/* colors */
#header  { background: url(i/background_header.png); }
#console { background: url(i/background_console.png); }
#header, #console { color: white; }
/*#header { text-shadow: #333 0px -1px 1px; }*/
#console > div > button { text-shadow: #333 0px -1px 1px; }

p {
	margin: 0 0 1em 0;
}

#sidebar_fg h1, #header h1 {
  background: #2f70d0; color: white;
  text-shadow: #44c 0px -1px 2px;
  font-size: 20px; text-align: center; padding-top: 15px; padding-bottom: 7px;
  border-top: solid 1px #25d;
  background-image: -webkit-gradient(
   linear, 0% 0%, 0% 100%,
   from(rgba(200,200,255,.3)),
   to(transparent));
}


img#branding2 {
    display: none;
    left: 600px;
    overflow: hidden;
    position: absolute;
    bottom: 3px;
    height: 20px;
}

.collapsed img#branding2 {
    display: block;
}



#search_box {
    left: auto; top: auto; right: 30px; bottom: 0px;
}

#search_form {
    padding: 4px 20px;
    border-bottom: solid thin #444;
    border-top: solid thin rgba(127,127,127,0.6);
    background-image: -webkit-gradient(
     linear, 0% 0%, 100% 0%,
     from(rgba(255,255,255,.0)),
     color-stop(20%, rgba(255,255,255,.2)),
     color-stop(50%, rgba(255,255,255,.25)),
     color-stop(80%, rgba(255,255,255,.2)),
     to(rgba(255,255,255,.0)));
    text-shadow: #999 0px 1px 1px;
}

#fog {
    background: rgba(0,0,0,0.8);
    z-index: 4;
    display: none;
}

.fogged #fog {
    display: block;
}

