#sidebar_content {
    color: #555;
}

#sidebar_content h3 {
  margin: .9em 0 .5em;
}

#sidebar_content p {
  margin: 0 0 .6em;
}


#sidebar hr {
  height: 1px;
  background-color: #b0b0b0;
  color: #b0b0b0;
  border: none;
  padding: 0;
  margin: .6em 0;
}

#sidebar a {
  color: #0066CC;
}

#squad_desc {
    padding: 3px 5px;
}

/* placeholder h1 */
#sidebar h1 { margin: 0px 10px -30px 10px; visibility:hidden; }


#branding {
    height: 40px;
    padding: 0 10px;
    position: absolute;
    bottom: 0;
    width: auto;
    left: 0;
    right: 0;
}

#branding_menu {
/*   padding: 5px 0; */
}

#sidebar h2 {
    color: #666;
    font-size: 17px;
    margin: 15px 0 6px 0;
}

.sidetut {
  padding: 0 15px;
}

.sidetut h2 {
}

.sidetut h3 {
  color: #0066CC;
  cursor:pointer;
  font-size: 14px;
}

.sidetut p {
}

#sidebar .squad {
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    cursor:pointer;
}


#sidebar .squad h3 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 0px;
    color: #333;
    margin-bottom: 0px;
    color: #0066CC;
    float: left;
}

#sidebar .squad .info {
  margin: 3px 0 8px 0;
  color: #888;
}

#sidebar .squad h3 i {
    font-style: normal;
    font-variant: small-caps;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid thin #ccc;
    color: #ddd;
    font-size: 12px;
    padding: 1px 4px;
    background-color: #292;
    background-image: -webkit-gradient( linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(transparent));
    background-image: -moz-linear-gradient(rgba(255,255,255,0.4),transparent);
}

#sidebar a.button {color: black;}
