<div id="landmark_editor_iw" class="mapwindow">
  <div class="intro">
    <h2>EDIT LANDMARK</h2>
    <p class="deemphasize">Fill in the title, description and type of landmark.</p>
  </div>
  <form id="send_landmark_form" >
    <div class="stanza last">
        This is a
        <select name="ltypes" fill="item_ltypes value">
          <option></option>
          <option value="park">a public park</option>
          <option value="cafe">a cafe or shop</option>
          <option value="street">a streetcorner or sidewalk</option>
          <option value="room">a spacious building or room</option>
        </select>
        called 
        <input name="title" size="25" maxlength="255" type="text" fill="item_title value" class="text" />
    </div>
    <div class="xspace right">
      <input style="float:right" type="submit" value="Edit &raquo;"/>
      <a href="##back" style="float:left">&laquo; go back</a>
    </div>
  </form>
</div>
