.nose {
  position: absolute;
}

.b {
  font-weight: bold;
}

.bigbox a {
  color: black;
}

.bigbox a:hover {
  text-decoration: none;
}

.bigbox {
  
  margin-left: 10px; 
  	margin-right: 10px; margin-top: 10px; 
  	border: solid thin #bbb; background: #e4e4e4; padding: 4px 10px;
  	color: #222; position:relative; font-size: 14px;
  
}

.you_are {
	font-size: 14px;
	position: relative;
}
.you_are b {
	font-size: 18px;
}
.you_are.gray b {
  font-size: 14px;
}
.you_are a {
	color: black;
}
.you_are a:hover {
	text-decoration: none;
}

div.report {
  font-size: 11px;
  color: #a40;
}
