.readiness {
	font-size: 11px;
	color: gray;
}
.readiness .act {
	white-space: nowrap;
}
.readiness a.title {
	font-size: 13px;
	font-weight: bold;
}
.readiness a.title.popped {
  background: blue;
  color: white;
}
.readiness a {
  color: blue;
}

ul.readinesses {
	padding-top: 0px;
	margin-top: 5px;
	margin-left: 5px;
	padding-left: 0px;
	-webkit-padding-start: 5px;
	padding-right: 10px;
}

form.ready_to_what input[type=text] {
  font-size: 16px;
}

.ready_iw {
	width: 480px; max-width: 480px; max-height:290px; overflow: auto;
}

form.prompting input[type=text], input[type=text].prompting, textarea.prompting {
  color: gray;
}

form.ready_to_what.prompting input[type=text] {
  width: 300px;
}

form.ready_to_what input[type=text] {
  width: 150px;
}

.prompting .nonprompt {
  display: none;
}


