a.gray {
  color: #888;
}


.wisher .head input, .wisher .head select {
	font-size: 12px;
	color: #940;
}
.notion input[type=image] {
	display: none;
}
.wisher .notion {
	font-size: 12px;
	color: #940;
}
.wisher .h1 {
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 5px;
}
.in {
	padding-left: 15px;
}



.dream {
  margin-bottom: 2px;
}


.dream .title b.want {
	font-size: 15px;
	position: relative;
	top: 3px;
	font-style: italic;
}
.dream .title b.want a {
	color: black;
}
.dream .title u {
	font-style: italic;
	text-decoration: none;
	padding-left: 5px;
	color: #666;
/*  font-weight: bold;*/
}
.dream .title u i {
	color: #888;
}
.dream .title a {
	position: relative;
}


.buttons {
	position: relative;
}
.dream:hover .buttons a {
	color: #00f;
}
.dream:hover .buttons span {
	color: #000;
}
.buttons span {
	font-size: 11px;
	position: relative;
	top: -1px;
	color: #bbb;
}
.buttons span.points {
  color: #888;
}
.buttons span a {
	color: #bbb;
}
.buttons .points {
	left: 45px;
}
.buttons .add {
	left: 90px;
}
.buttons .organize {
	left: 110px;
}
.buttons .more_options span {
	visibility: hidden;
}
.buttons:hover .more_options span {
	visibility: visible;
}