#lm_limits[limit="park"]   a[href="##limit_park"]   { font-weight: bold; }
#lm_limits[limit="room"]   a[href="##limit_room"]   { font-weight: bold; }
#lm_limits[limit="cafe"]   a[href="##limit_cafe"]   { font-weight: bold; }
#lm_limits[limit="street"] a[href="##limit_street"] { font-weight: bold; }

.categories {
  margin-top: 15px;
}

.categories div a.cat {
  font-size: 16px;
  font-weight: bold;
  color: #009;
}

.categories div span {
  color: #555;
  font-size: 12px;
  position: absolute;
  right: 20px;
}
.categories div a {
  font-size: 11px;
  color: #27a;
  color: black;
}

.categories div {
  margin-bottom: 10px;
  border: solid thin #444;
  background: #bbb;
  padding: 2px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
/*  margin-left: 10px;*/
}

/* FIXME would be cool if it could rollover like this and be clickable
.categories div:hover {
	background: #ccc;
	cursor: pointer;
}
*/

