<div id="edit_idea_dialog">
	<div class="mhead center">
		<span fill="idea_title"></span>
		<a href="##trash_idea"><img class="hover_opacity" src="i/buttons/trash.gif"/></a>
	</div>

	<form>
		<div style="font-weight: bold" class="u space">Instructions</div>
		<div class="box in spacebelow">
			<textarea name="instr" fill="idea_instructions" style="width: 100%; height: 40px; background: #ddd"></textarea>
		</div>

		<div style="font-weight: bold" class="u space">Comments</div>
		<div class="spacebelow" fill="idea_comments"></div>
		
		<div class="msecintro space">
			Add a comment
		</div>
		<textarea name="idea_comment" style="width: 100%"></textarea>

		<div class="space right">
			<input type="submit" value="update idea"/>
		</div>
	</form>
</div>
