span.readiness a.me_too {
  display: none;
}

span.readiness {
  position: relative;
}

span.readiness:hover a.me_too {
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
  border: solid blue 1px;
  padding: 2px;
  background: white;
  z-index: 300;
  width: 40px;
}

.topready_options {
  text-align: center;
}

.wishburger {}

.wishburger a {
  font-size: 10px;
}

img.headshot {
  float:left; margin-right: 10px; margin-bottom: 10px; height: 50px;
}

ul li a.b {
  color: blue;
}

.nose {
  position: absolute;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

div.report {
  font-size: 11px;
  color: #a40;
}

.self_iw .ready_to_what {
  text-align: center;
}


div.dots a[newstatus] {
  background-image: url(i/dots/greendot.png);
  background-position: left center; 
  background-repeat: no-repeat;
}


.gathering_iw[state=invited] .gathering_invite {
  display: none;
}

.gathering_iw[state=potential] .gathering_report {
  display: none;
}
