<div class="widget troot" id="ready_iw_t" style="font-size: 13px">
	<div class="ready_iw mini">

		<div class="center large">
			Right now,
			<a class="q go_summary" href='#'><span class="nearby_agents_ct">x</span> agents</a> are standing by.
		</div>

		<div class="large">
			Devise your plan...
		</div>

		<form class="stdf ready_to_what center">
			<span class="nonprompt">I'd like to </span>
			<input name="readyto" type="text" value="What would you like to do with them?"/>
			<input type="submit" value="do it!" class="nonprompt"/>
		</form>

		<div class="center">
			They have 
				<a class="q go_summary" href='#'><span class="citywishct">x</span> wishes</a>.
			You have
			<a class="q plink" popper='#lmark_popup/bc' id="lmark_nearby">
				<span class="nearby_lmarks_ct">x</span> 
			places of possibility</a>.
		</div>
		
		<div class="space large">
			or... make a wish come true
		</div>
		<ul class="space std_click readinesses"></ul>

	</div>
	<div class="insert_popper_here"></div>
</div>
