<div class="mini hud divcenter" id="mobilize_show_celebrations" style="width: 400px; top: 107px; left: 372px;">
	<div class="mhead b center">What should we celebrate?</div>
	<form id="celebrate_form" class="box mhead">
		<input type="text" name="celebration" style="width: 80%; font-size: 15px" prompt="I want to celebrate..."/>
		<button type="submit">go</button>
	</form>
	
	<div class="center">	
		<b>We've recently celebrated</b>
		<span class="csl" fill="recent_celebrations"></span>
	</div>
	
	<div class="right space">
		<a href="#..">go back</a>
	</div>
</div>
