<div id="idea_catalog_iw" class="niw">
  <div class="intro">
    <h2>CREATE AN EVENT</h2>
    <p>Choose one of the categories to the left, then a specific
    idea to the right.</p>
  </div>

  <form id="idea_catalog_form" action="#/organize/_/:city/:item/assignment_editor">
    <div id="idea_catalog">
        <select size="5" fill="idea_categories" observe="idea_category_changed" id="categories"></select>
        <select size="5" fill="idea_ideas" id="ideas"></select>
        <div class="xspace right">
          <input type="submit" value="Next &raquo;" />
        </div>
    </div>
  </form>
  <h3>
    Or, <a href="#/organize/_/:city/:item/assignment_editor">build your own assignment</a>
  </h3>
</div>
