<div id="organize_agent_iw" class="mapwindow" style="max-width: 400px">
  <div class="intro">
    <h2>AGENT <span fill="item_title"></span></h2>
  </div>
  <div class="group">
    <img style="height: 100px; float: left" class="niw_thumb" fill="item_thumb_url src"/>
    <p class="status" fill="item_status"></p>
    
    <h3>OPTIONS</h3>
    &raquo; <a href="#agent_rendezvous">plan rendezvous with another agent</a>
    <br>&raquo; plan meeting with several nearby agents
    <br>&raquo; arrange a solitary adventure
  </div>
  <form>
    <input name="assign" type="text" size="48" class="assign" hint="What would you like this agent to do?"/>

    <div class="xspace right">
      <input type="submit" value="send assignment"/>
    </div>
  </form>

  <p class="believes" fill="item_believesin"></p>
  <p class="believes" fill="item_celebrates"></p>
  <p class="believes" fill="item_helpwith"></p>
  <div class="didrecent" fill="item_didrecent"></div>
</div>
