<div id="assignment_editor_iw" class="niw">
  <div class="intro">
    <h2>BUILD YOUR ASSIGNMENT BELOW</h2>
    <p class="deemphasize">The following instructions will be sent to nearby agents.</p>
  </div>

  <form id="send_assignment_form" action="#../live_event">
    <div class="stanza xspace">
      
      <div class="current group">
          Go to &ldquo;<span fill="item_title">THE LOCATION</span>&rdquo;<a href="#/mapcare/:city/:item" title="Edit Landmark"><img src="i/icons/edit.png" width="12" height="12" alt="Edit Landmark" /></a>.<br />
          <select fill="everyone_will"></select> to signal the other <select>
            <option>2 or more</option><option>3</option><option>4</option><option>5</option><option>6</option>
          </select> agents.
      </div>
      <div class="more_options">
          <img src="i/buttons/glossy_rarr.gif"/>
      </div>
    </div>

    <div class="stanza">
     <div class="current">
         For <select><option>20 minutes</option></select>, <input type="text" value="type the main action here..."/>
     </div>
     <div class="more_options">
        <img src="i/buttons/glossy_rarr.gif"/>
     </div>
    </div>

    <div class="stanza last">
        <div class="current">
            <select><option>Shake hands</option></select>, then <select><option>leave in different directions</option></select>.
        </div>
        <div class="more_options">
            <img src="i/buttons/glossy_rarr.gif"/>
        </div>
    </div>

    <div class="xspace right group">
      <input style="float:right" type="submit" value="send assignments! &raquo;">
      <a href="##back" style="float:left">&laquo; go back</a>
    </div>
  </form>
</div>
