<div id="assignment_editor_iw" class="niw">
  <div class="intro">
    <h2>BUILD YOUR ASSIGNMENT BELOW</h2>
    <p class="deemphasize">The following instructions will be sent to nearby agents.</p>
  </div>

  <form id="send_assignment_form">
    <div class="stanza">
      <img class="plus" src="i/buttons/glossy_rarr.gif"/>
      Go to &ldquo;<span fill="item_title">THE LOCATION</span>&rdquo;<a href="##display_landmark_editor/assignment_editor" title="Edit Landmark"><img src="i/icons/edit.png" width="12" height="12" alt="Edit Landmark" /></a>.<br />
      <select fill="everyone_will"></select> to signal the other <select>
        <option>2 or more</option><option>3</option><option>4</option><option>5</option><option>6</option>
      </select> agents.
    </div>

    <div class="stanza">
      <img class="plus" src="i/buttons/glossy_rarr.gif"/>
      For <select><option>20 minutes</option></select>, <input type="text" value="type the main action here..."/>
    </div>

    <div class="stanza last">
      <img class="plus" src="i/buttons/glossy_rarr.gif"/>
      <select><option>Shake hands</option></select>, then <select><option>leave in different directions</option></select>.
    </div>

    <div class="xspace right group">
      <input style="float:right" type="submit" value="send assignments! &raquo;">
      <a href="##display_build_experience" style="float:left">&laquo; go back</a>
    </div>
  </form>
</div>
