<div id="assignment_editor_iw" class="niw" style="max-width: 400px; display: none;">
  <div class="intro">
    <h2>BUILD YOUR ASSIGNMENT BELOW</h2>
    These are the instructions that will be sent to your agents.
  </div>

  <div class="stanza xspace">
    <img src="i/buttons/glossy_rarr.gif"/>
    Go to &ldquo;<span fill="item_title">THE LOCATION</span>&rdquo;.
    <select fill="everyone_will"></select> so as to signal the other <select>
      <option>2 or more</option><option>3</option><option>4</option><option>5</option><option>6</option>
    </select> agents.
  </div>

  <div class="stanza">
    <img src="i/buttons/glossy_rarr.gif"/>
    For <select><option>20 minutes</option></select>, <input type="text" value="type the main action here..."/>
  </div>

  <div class="stanza">
    <img src="i/buttons/glossy_rarr.gif"/>
    <select><option>Shake hands</option></select>, then <select><option>leave in different directions</option></select>.
  </div>
    
  <div class="xspace right">
    <input type="submit" value="send assignments!">
  </div>
</div>
