<div id="idea_catalogue_iw">
  <div class="intro">
    <h2>What kind of event do You want to create?</h2>
    First choose one of the categories to the left, then choose one of the
    ideas to the right.
  </div>

  <form id="idea_catalogue_form">
    <div id="idea_catalogue_categories">
        <span fill="idea_categories" />
    </div>

    <div id="idea_catalogue_ideas">
      <select size="3" fill="idea_ideas">
      </select>
      <br />
      <a id="build_own" href="##display_assignment_editor">Or build Your own assignment!</a>
    </div>

    <input type="submit" class="xspace right" id="next" value="Next &raquo;" />
  </form>
</div>
