<div id="idea_catalog_iw" class="niw">
  <div class="intro">
    <h2>CREATE AN EVENT</h2>
    Choose one of the categories to the left, then a specific
    idea to the right.
  </div>

  <form id="idea_catalog_form">
    <div id="idea_catalog_categories">
      <span fill="idea_categories" />
    </div>

    <div id="idea_catalog_ideas">
      <select size="3" fill="idea_ideas">
      </select>
      <br />
      <a id="idea_build_own" href="##display_assignment_editor">Or build Your own assignment!</a>
    </div>

    <div class="xspace right">
      <input type="submit" value="Next &raquo;" />
    </div>
  </form>
</div>
