<div id="organize_landmark_iw" class="niw">
  <h2>
    <span id="organize_landmark_title" fill="item_title"></span>
    <a href="##display_landmark_editor/organize_landmark_iw" title="Edit Landmark">
      <img src="i/icons/edit.png" width="12" height="12" alt="Edit Landmark" />
    </a>
  </h2>

  <img id="organize_landmark_thumb" fill="item_thumb_url src" />

  <div>
    <span id="organize_landmark_description" fill="item_description"></span>
    <a href="##display_landmark_editor/organize_landmark_iw" title="Edit Landmark">
      <img src="i/icons/edit.png" width="12" height="12" alt="Edit Landmark" />
    </a>
  </div>

  <span style="clear:both;" />
  <form id="build_pos_form">
    <input type="submit" value="Build a positive experience at this location" />
  </form>
</div>
