.stanza {
  position: relative;
  border: solid 1px #ccc;
  padding: 5px 5px;
  min-height: 20px;
  padding-right: 25px;
  margin: 12px 0px;
  margin-left: 20px;
  background: #eee;
}

.stanza .plus {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
}

#idea_catalog_iw {
  max-width: 400px;
  display: none;
}

#idea_catalog_iw form {
  position: relative;
}

#idea_catalog_categories {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}

#idea_catalog_categories a.highlight {
  font-weight: bold;
  font-size: large;
}

#idea_catalog_categories a {
  font-weight: normal;
  font-size: normal;
}


#idea_catalog_ideas {
  padding-left: 110px;
}

#idea_build_own {
  font-size: normal;
}

#live_event_iw {
  max-width: 400px;
  display: none;
}

#assignment_editor_iw {
  max-width: 400px;
  display: none;
}

#organize_landmark_iw {
  max-width: 400px;
  display: none;
}

#organize_landmark_thumb {
  height: 100px;
  width: 100px;
  float: left;
  display: block;
}

#organize_landmark_iw form {
  margin-top: 100px;
}

#landmark_editor_iw label {
 vertical-align: top;
 position: absolute;
 top: 0px;
 left: 0px;
 width: 150px;
 padding-top: 5px;
 padding-left: 5px;
}

#landmark_editor_iw input {
 margin-left: 160px;
}

#landmark_editor_iw textarea {
 margin-left: 160px;
}
