.stanza {
  position: relative;
  border: solid 1px #ccc;
  padding: 5px 5px;
  min-height: 20px;
  padding-right: 25px;
  margin: 12px 10px;
  background: #eee;
}

.stanza img {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: transparent;
}

#idea_catalogue_iw {
  max-width: 400px;
  margin-top: 20px;
}

#idea_catalogue_iw form {
  position: relative;
}

#idea_catalogue_categories {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100px;
}

#idea_catalogue_categories a.highlight {
  font-weight: bold;
  font-size: large;
}

#idea_catalogue_categories a {
  font-weight: normal;
  font-size: normal;
}


#idea_catalogue_ideas {
  padding-left: 110px;
}

#build_own {
  font-size: normal;
  font-family: Verdana;
}
