<div id="share_add" class="divcenter palette share add">
  <img src="i/buttons/close.gif" class="closer"/>

  <div class="tgray" id="section1">

    <h1>&mdash; Share Your Resources &mdash;</h1>
    <div id="text">
      <h4>
        You have something you want to share with others? This is the right
        place to do so!
      </h4>

      <p>Define what you want to share, where and how people can
      access your resource in the form below.</p>
    </div>
  </div>

  <div class="tblack" id="section2">
    <form id="share_form">
      <div>
        <label for="title">Title or Type</label>
        <input name="title" size="26" value="" /> (e.g. car, tool, housing)
      </div>

      <div>
        <label for="location">Location</label>
        <input name="location" size="26" value="" /> (e.g. street address)
      </div>

      <div>
        <label for="description">Description</label>
        <textarea name="description" rows="5" cols="30"></textarea>
      </div>

      <div>
        <label for="posx_amount">POSX required</label>
        <input name="posx_amount" size="5" /> per <select name="posx_period">
          <option value="w">week</option>
          <option value="m" />month</option>
          <option value="y" />year</option>
        </select>
      </div>

      <div>
        <label for="secret">Secret access instructions</label>
        <input name="secret" size="26" value="" /> (only shown to legit agents)
      </div>

      <div>
        <label for="tags">Other tags</label>
        <input name="tags" size="26" value="" />
      </div>

      <div class="xspace left">
        <input type="submit" value="Share This!" />
      </div>
    </form>
  </div>
</div>


