<div class="niw" id="self_iw" style="max-width: 430px;">
  <h2>You are <b>available</b> and looking for <b>adventure</b></h2>
  <div class="right small gray">
    near <b>35 Trumbull Rd, Northampton MA 01060, USA</b>
  </div>

  <div class="box xspace">
    Nearby are <b>5 landmarks</b> and <b>10 agents to organize</b>
  </div>
  
  <div class="box">
    Your skills: <b>...</b>
  </div>
  
  <div class="box">
    Your interests: <b>...</b>
  </div>

  <div class="box">
    Your life dreams: <b>...</b>
  </div>  
</div>


<div class="sub menu" id="siw_status_popper">
	<img src="i/nose.png" class="nose"/>
	<div class="title">
		Are you ready for action?
	</div>
	<div class="std_click dots" style="text-indent: 20px">
		<a newstatus="ready_to_rock" style="background-image: url(i/dots/greendot.png)">
			Yes<br>
			<i>I'm ready to rock.</i>
		</a>
		<a newstatus="none" style="background-image: url(i/dots/reddot.png)">
			No<br>
			<i>I'm busy right now.</i>
		</a>
		<a newstatus="recruitable" style="background-image: url(i/dots/yellowdot.png)">
			Maybe<br>
			<i>Try me; I'll reply if I'm free.</i>
		</a>
	</div>
</div>


<div class="sub menu" id="siw_loc_popper">
	<img src="i/nose.png" class="nose" style="left: 130px"/>
	<div class="title">
		Where are you?
	</div>
	<form class="stdf">
		<input name="newloc" type="text" size="40"/>
		<input type="submit" value="update location" style="float:right"/>
	</form>
</div>
