#share_add {
  width: 650px;
  top: 30px;
  right: auto;
  left: auto;
  -webkit-transition: opacity 1s ease;
}


#share_resources {
  width: 650px;
  top: 30px;
  right: auto;
  left: auto;
  -webkit-transition: opacity 1s ease;
}


/* positioning */
#share_add .tgray { padding-top: 10px; }
#share_add #section2 { position: relative; height: 300px; }

#share_add .options input { margin: 0; margin-right: 5px; }
