#hero_show_city {display:none;}
body.hero_app.show_city #hero_show_city {display:block;}

body.hero_app #app_list a.hero_app_link {
  color: white;
}

.ggrad.top {
  border-bottom: solid thin #666; font-size: 18px;
  color: white; text-shadow: black 0px 0px 3px;
  font-weight: bold;
  color: black; text-shadow: #66f 0px 0px 5px;
  text-align: left;
  padding-left: 15px;
  color: black; text-shadow: #ccc 0px 1px 2px;
  border-bottom: solid thin #444;
  color: #009;
  text-shadow: #66f 0px 0px 5px;
  color: #024242;
  text-shadow: #fff 0px 0px 5px;
  position: relative;
}

.nh h2 {
  font-weight: bold;
  font-size: 16px;
  color: #222;
  color: black;
  margin:0; padding:0;
  text-shadow: #aaa 0px -1px 1px;
  text-shadow: #fff 0px 0px 5px;
  text-shadow: #aaa 0px 0px 3px;
  color: #ccc;
  text-shadow: #000 1px 1px 2px;
  position: relative;
  margin-bottom: 1px;
  color: #aaa;
  color: #eeb;
/*  color: white;*/
color: #ddc;
/*color: #aaf;*/
  background: #666;
  padding: 1px 5px;
}

.nh h2 i {
  font-style: normal;
  text-decoration: none;
  font-size: 11px;
  color: #444;
  color: #ccc;
  margin: 0; padding: 0;
  text-shadow: #000 0px 0px 2px;
  padding-left: 20px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #f2f2ee;
/*    color: #ffd;*/
}

.nh h2 b {
  font-size: 11px;
  text-shadow: #000 0px 0px 2px;
  padding-left: 20px;
  color: #f2f2ee;
}

.nh h2 u {
  text-decoration: none;
  text-shadow: #900 0px 0px 9px;
}

.nh h2 i a {
  color: #f2f2ee;
  text-decoration: underline;
}

.ggrad.top small {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 10px;
  color: white;
}

.nh small {
  font-size: 12px;
  text-align: right;
  display: block;
  position: relative;
  top: -15px;
}

.nh small a {
/*  color: #777;*/
text-decoration: none;
color: #aaa;
text-shadow: #000 0px 0px 2px;
font-weight: bold;
color: #f2f2ee;
font-size: 11px;
}

.nh small a:hover {
  color:white;
}

.nh .inside {
  padding: 10px 15px;
  background-color: transparent;
/*  background: url(i/40.png);*/
/*  background: url(i/ppgrad.png);*/
/*  background: url(i/grads/grid.png);*/
/*  background: url(i/grads/ggrid.png);*/
  background: url(i/grads/tray.png);
}


.nh .tb {
  height: 79px;
  overflow: hidden;
  float: left;
  clear: both;
  background: #fff;
  border-bottom: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: solid 1px #333;
  width: 100%;
  background: #555;
  background: url(i/grads/spat.png);
}

.nh .tb.double {
  height: 159px;
}

.nh .tbs {
  height: 50px;
  overflow: hidden;
  float: left;
  clear: both;
  border-bottom: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: solid 1px #333;
  width: 100%;
  background: #555;
  background: url(i/grads/spat.png);
}

.nh small {
  clear:both;
}

.nh .tbs div b{
  width: 20px;
  padding: 2px;
  font-size: 12px;
  color: black;
}
.nh .tbs div {
  padding: 6px 2px;
  height: 11px;
  width: 130px;
  float: left;
  font-size: 11px;
  font-weight: bold;
  background: #ddb;
  border-right: solid thin #222;
  border-bottom: solid thin #222;  
  color: #222;
  cursor: pointer;
}

.nh .tb div {
  float: left;
  height: 65px;
  width: 75px;
  text-align: center;
  font-size: 9px;
/*  text-shadow: #fff 0px 1px 1px;*/
  font-weight: bold;
  color: #b72;
  color: #f90;
/*  background: url(i/grads/tb.png);*/
  padding: 7px 3px;
  padding-top: 5px;
  padding-bottom: 9px;
  border-right: solid thin #aaa;
/*  text-shadow: #444 0px 1px 1px;*/
  color: #444;
  background: black;
  background: url(i/grads/b2grad.png);
  background: url(i/grads/obut.png);
  color: #b72;
  border-right: solid thin #222;
  color: #d90;
  color: #444;
  cursor: pointer;
  
}

.nh .tb div b {
  color: #b60;
  color: #d95;
  color: #b72;
  color: #f90;
  color: black;
  color: #444;
/*  text-decoration: underline;*/
  color: black;
  font-weight: bold;
}

.nh .tb div img {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 2px;
}

#hero_show_city {
  padding: 0;
  top: 100px;  
  background-color: transparent;
}

.ggrad {
  padding: 5px;
  background: url(i/qggrad.png);
  text-align: center;
  color: #449;
}


/*.ggrad.top .city {
  position: absolute; right: 8px; top: 3px; 
  text-shadow: #eee 0px 1px 1px; 
  font-size: 11px;
  font-weight: normal;
  color: #007;
  opacity: 0.5;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}
*/
.ggrad a {
  color: #830;
  text-decoration: underline;
}

.ggrad b {
  color: #007;
}



.adventure, .resources, .aagent {
  padding: 5px; background: #d6d6d6; color: #555; 
  background: url(i/bgrad.png);
  border: solid thin #bbb;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #ccc;
  border-collapse: collapse;
  cursor: pointer;
}
