#hero_show_city {display:none;}
body.hero_app.show_city #hero_show_city {display:block;}

body.hero_app #app_list a.hero_app_link {
  color: white;
}

#screen {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.ggrad.top {
  color: white; text-shadow: black 0px 0px 3px;
  font-weight: bold;
  position: relative;
}

.nh {
  position:absolute; 
  z-index: 100;
  padding: 10px;
  color: white;
  width: 700px; 
  top: 40px; 
  right: auto;
  left: auto;
  right: -710px;
  background: url(i/trans/b80.png);
  padding-left: 30px;
  -webkit-transition: right 0.1s ease;
}

.nh .rim {
  position: absolute;
  left: 6px;
  top: 30px;
}

.nh.extended {
  left: auto;
  right: 0px;
}

.nh h2 {
  font-weight: bold;
  font-size: 16px;
  margin:0;
  text-shadow: #000 1px 1px 2px;
  position: relative;
  padding: 1px 5px;
  margin-top: 10px;
}

.nh h2 i {
  font-style: normal;
  text-decoration: none;
  font-size: 11px;
  color: #444;
  color: #ccc;
  margin: 0; padding: 0;
  text-shadow: #000 0px 0px 2px;
  padding-left: 20px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #f2f2ee;
/*    color: #ffd;*/
}

.nh h2 b {
  font-size: 11px;
  text-shadow: #000 0px 0px 2px;
  padding-left: 20px;
  color: #f2f2ee;
}

.nh h1 {
  margin:0;
  color: white;
  font-size: 20px;
  text-shadow: #000 0px 0px 2px;
  padding: 10px;
}

.nh h2 u {
  text-decoration: none;
  text-shadow: #900 0px 0px 9px;
}

.nh h2 i a {
  color: #f2f2ee;
  text-decoration: underline;
}

.nh small {
  font-size: 12px;
  display: block;
}

.nh small a {
/*  color: #777;*/
text-decoration: none;
color: #aaa;
text-shadow: #000 0px 0px 2px;
font-weight: bold;
color: #f2f2ee;
font-size: 11px;
}

.nh small a:hover {
  color:white;
}

.nh .inside {
  padding: 10px 15px;
}


.nh .tb {
  height: 79px;
  overflow: hidden;
  float: left;
  clear: both;
  width: 100%;
}

.nh .tbs {
  height: 50px;
  overflow: hidden;
  float: left;
  clear: both;
  border-bottom: solid 1px #eee;
  border-right: solid 1px #eee;
  border-left: solid 1px #333;
  width: 100%;
  background: #555;
  background: url(i/grads/spat.png);
}

.nh small {
  clear:both;
}

.nh .tbs div b{
  width: 20px;
  padding: 2px;
  font-size: 12px;
  color: black;
}
.nh .tbs div {
  padding: 6px 2px;
  height: 11px;
  width: 130px;
  float: left;
  font-size: 11px;
  font-weight: bold;
  background: #ddb;
  border-right: solid thin #222;
  border-bottom: solid thin #222;  
  color: #222;
  cursor: pointer;
}

.nh .tb div {
  float: left;
  height: 65px;
  width: 75px;
  text-align: center;
  font-size: 9px;
/*  text-shadow: #fff 0px 1px 1px;*/
  font-weight: bold;
  color: #b72;
  color: #f90;
/*  background: url(i/grads/tb.png);*/
  padding: 7px 3px;
  padding-top: 5px;
  padding-bottom: 9px;
  border-right: solid thin #aaa;
/*  text-shadow: #444 0px 1px 1px;*/
  color: #444;
  background: black;
  background: url(i/grads/b2grad.png);
  background: url(i/grads/obut.png);
  color: #b72;
  border-right: solid thin #222;
  color: #d90;
  color: #444;
  cursor: pointer;
  
}

.nh .tb div b {
  color: #b60;
  color: #d95;
  color: #b72;
  color: #f90;
  color: black;
  color: #444;
/*  text-decoration: underline;*/
  color: black;
  font-weight: bold;
}

.nh .tb div img {
  display: block;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 2px;
}

.ggrad {
  padding: 5px;
  text-align: center;
  color: #449;
}


/*.ggrad.top .city {
  position: absolute; right: 8px; top: 3px; 
  text-shadow: #eee 0px 1px 1px; 
  font-size: 11px;
  font-weight: normal;
  color: #007;
  opacity: 0.5;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
}
*/
.ggrad a {
  color: #830;
  text-decoration: underline;
}

.ggrad b {
  color: #007;
}



.adventure, .resources, .aagent {
  padding: 5px; background: #d6d6d6; color: #555; 
  background: url(i/bgrad.png);
  border: solid thin #bbb;
  border-top-color: #eee;
  border-left-color: #eee;
  border-right-color: #ccc;
  border-collapse: collapse;
  cursor: pointer;
}
