<div id="welcome" class="divcenter palette">
  <img src="i/buttons/close.gif" class="closer"/>
  <div class="tgray" id="section1">

    <h1>&mdash; Welcome to Groundcrew &mdash;</h1>
    <div id="text">
      <h4>
        You've been approved to use this tool&mdash;it's for organizing actions and making people happy.
      </h4>

      <p>The agents below have made themselves available to you.  They are waiting on your instructions. 
        There are events and event ideas
      which require only your clicks to occur. This city, and these people, are yours to redesign.</p>
    </div>

  </div>
  <div class="tblack" id="section2">

    <div id="col1">
      <h2>
        <img src="i/icons/people_icon40.png"/>
        Engage people
      </h2>
      <div class="tiles" fill="agents_to_guide6"></div>
      <div style="clear:both"></div>
      <div class="btn">
        show more people
      </div>
    </div>

    <div id="col2">
      <h2>
        <img src="i/icons/lightbulb_icon40.png"/>
        Start something
      </h2>
      <div class="tiles" fill="adventures6"></div>
      <div style="clear:both"></div>
      <div class="btn">
        show more ideas
      </div>
    </div>
    
  </div>
</div>
