/* ========== */
/* = Header = */
/* ========== */

#breadcrumbs {
  background: #000;
  color: #777;
  padding: 3px 10px;
  border-bottom: solid 1px #999;
/*  position: absolute;
  top: 10px;
  left: 240px;
*/  z-index: 400;
}

#breadcrumbs a {
  color: #ddd;
}

#header {
  border-bottom: 0px;
}

#topbar {
  position: relative;
  height: 10px;
}

#header {
  width: 100%;
}

#header_menubar {
  position:absolute; top:0px; right: 10px; color: #999; font-size: 11px;
}

#logo {
  position: absolute; bottom: 0px; left: 0px;
}

#logo img {
  position: absolute; bottom: -3px; z-index: 50;
}

#footer {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

#footer .fl {
  float:left; margin-left: 10px;
}

#footer .fr {
  float:right; margin-right: 10px;
}

#footer .clog_link {
  font-variant:small-caps; border-bottom: solid thin #25226A; font-size:12px;
}

body.refresh #load_spinner {
  visibility: visible;
}


a.button#summon {
  color: #f00;
  margin-left: 10px;
}

a.button#wish{
  color: #557799;
  margin-left: 10px;
}

a.button#proj {
  color: #383;
}


/* =========== */
/* = Facebar = */
/* =========== */

#agents_scroll_window {
  height: 84px;
  width: 100%;
  overflow: auto;
  border-top: solid thin #fff;
  background: #ccc;
}

#inner_scroll_window {
  width: 10000px;
  position: relative;
}

#agents {
/*  padding-left: 10px;*/
  position: relative;
  float: left;
}

#agents img.thumb {
  display: block;
}

.agent {
  max-width: 80px;
  float: left;
  display: block;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 4px;
  color: #555;
  font-size: 11px;
}

.agent.busy { color: #82c; }
.agent.yellow { 
  background: #ff9; 
  color: #440;
  border: #ff0 solid thin;
}




/* ======= */
/* = Map = */
/* ======= */

img.thumb {
  height: 50px;
  margin: 0 auto;
}

#map_div {
  background: gray;
  height: 392px;
}

#map_div .byline {
  font-weight: bold;
  font-size: 13px;
  color: #a40;
}

#map_div label {
  font-size: 13px;
  font-weight: bold;
  clear:both;
}

#map_div img.thumb {
  padding-right: 10px;
  float:left;
}

span.gmnoprint a img {
  display:none;
}

div[dir] span {
/*  visibility: hidden;*/
  color: #555;
}


/* ========== */
/* = Others = */
/* ========== */

#shout {
  height: 26px;
  text-align: center;
  font-size: 12px;
  margin:0;
  background: orange url(i/farm-table-2000.jpg) bottom center;
  border-top: 2px solid #921129;
}

.lio {
  display: none;
}

body.logged_in .m_item.lio {
  display: inline;
}

body.logged_in .lio {
  display: block;
}

.loo {
  display: none;
}

body.logged_out .m_item.loo {
  display: inline;
}

body.no_city .city_level, body.loading .city_level {
  display: none;
}

/*
** HUDs
*/ 

.hud {
  position:absolute; 
  width: 200px;
  background: url(i/w60.png); 
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  z-index: 100;
  color: black;
  padding: 10px;
  border-top: solid 1px white;
  border-left: solid 1px white;
  border-right: solid 1px #222;
  border-bottom: solid 1px #222;
/*  text-shadow: #fff 0px 1px 1px;*/
}

.hud.bgwhite {
  border-top:    solid 2px white;
  border-left:   solid 2px white;
  border-right:  solid 2px #222;
  border-bottom: solid 2px #222;
}

.hud .menu, .hud table {
  text-shadow: none;
}
