#category_index {display:none;}
body.category_index #category_index {display:block;}
#item_index {display: none;}
body.item_index #item_index {display: block;}
#invite_dialog {display:none;}
body.show_idea #invite_dialog {display:block;}

body.mobilize_app #app_list a.mobilize_app_link {
  color: white;
}

.categories {
  margin-top: 15px;
}

.categories div a.cat {
  font-size: 16px;
  font-weight: bold;
  color: #009;
}

.categories div span {
  color: #555;
  font-size: 12px;
  position: absolute;
  right: 20px;
}
.categories div a {
  font-size: 11px;
  color: #27a;
  color: black;
}

.categories div {
  margin-bottom: 10px;
  border: solid thin #444;
  background: #bbb;
  padding: 2px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
/*  margin-left: 10px;*/
}

/* FIXME would be cool if it could rollover like this and be clickable
.categories div:hover {
	background: #ccc;
	cursor: pointer;
}
*/

