#talker {
  position: absolute;
  left: 32px;
  border-top: white 1px solid;
  height: 24px; 
  top: 0px;
  background: url(i/w60.png);
  padding: 3px 15px;
}

#chatbox {
  position: relative;
  height: 170px;
  z-index: 100;
}
#chatter {
  position: relative;
  height: 136px;
  width: 400px;
  color: white;
}
#chatter ul {
  position: absolute;
  left: 40px;
  top: 0px;
  margin: 0;
  padding: 0;
}
#chatter img {
  position: absolute;
  left: 0px;
}

#chats li a {
  color: #a72;
}

ul#chats {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
