<div class="rsidep palette tblack" id="people_palette" style="top: 40px; max-width: 600px">
  <h2> Engage people </h2>
  <div fill="agents_to_guide_all"></div>
  <a class="btn" href="##more">+ get guided</a> &nbsp;
  <a class="btn" href="##more">see more...</a>
</div>

<div class="rsidep palette tblack" id="wish_palette" style="top: 180px; max-width: 400px">
  <h2> Your Wishes </h2>
  <a class="btn" href="##more">see more...</a>
</div>

<div class="rsidep palette tblack" id="ideas_palette" style="top: 90px">
  <h2>Start something</h2>
  <div fill="adventures"></div>
  <a class="btn" href="##more">+ add your dreams</a>
</div>

<div class="rsidep palette tblack" id="resource_palette" style="top: 90px">
  <h2>Use other people's stuff!
    <i>
      To access more, you need to <a href="#posx">gain reputation</a>.
    </i>
  </h2>
  <!-- <div class="tb" fill="resources"></div> -->
  <a class="btn" href="##more">+ share something</a>
</div>


<div class="lsidep palette tblack" id="chat_palette" style="top:50px">
  <input type="text" size="47" value="type here to chat with others"/>
  <img src="i/arrows/up.png" style="top: 0px"/>
  <img src="i/arrows/down.png" style="bottom:0px"/>
  <ul id="chats">
    <li>Chat isn't working yet.  This is a mockup</li>
  </ul>
</div>

<div id="recent_content" class="lsidep palette tblack" style="top:90px"></div>
