<div class="rsidep palette tblack" id="people_palette" style="top: 40px; max-width: 600px">
  <h2> Engage people </h2>
  <div fill="agents_to_guide_all"></div>
  <a class="btn" href="##more">+ get guided</a> &nbsp;
  <a class="btn" href="##more">see more...</a>
</div>

<div class="rsidep palette tblack" id="wish_palette" style="top: 180px; max-width: 400px">
  <h2> Your Wishes </h2>
  <a class="btn" href="##more">see more...</a>
</div>

<div class="rsidep palette tblack" id="ideas_palette" style="top: 90px">
  <h2>Start something</h2>
  <div fill="adventures"></div>
  <a class="btn" href="##more">+ add your dreams</a>
</div>

<div class="rsidep palette tblack" id="share_palette" style="top: 90px">
  <h2>Use other people's stuff!</h2>
  <div>To access more, you need to <a rel="facebox" href="#about_posx">gain reputation</a>.</div><br />
  <!-- <div class="tb" fill="resources"></div> -->
  <a class="btn" href="#/share/:city/resources">see your shared resources</a><br />
  <a class="btn" href="#/share/:city/add">+ share something</a>
</div>


<div class="lsidep palette tblack" id="chat_palette" style="top:50px">
  <form id="chat_form">
    <input type="text" size="47" name="msg" hint="type here to chat with others"/>
    <img src="i/arrows/up.png" style="top: 0px"/>
    <img src="i/arrows/down.png" style="bottom:0px"/>
  </form>
  <ul fill="latest_chats"></ul>
</div>

<div id="recent_content" class="lsidep palette tblack" style="top:90px">
  <div fill="recent_events"></div>
</div>
