<div class="nh">
  <a class="rim" href="##toggle_paddle"><img src="i/trans/mth.png"/></a>
  
  <div class="inside">

    <h2> Engage people </h2>
    <div class="tb" fill="agents_to_guide"></div>
    <small>
      <a href="##more">+ get guided</a> &nbsp;
      <a href="##more">see more...</a>
    </small>

    <h2>Start something </h2>
    <div class="tb double" fill="adventures"></div>
    <small>
      <a href="##more">+ add your dreams</a>
    </small>
  
    <!-- <h2>Use other people's stuff!
      <i>
        To access more, you need to <a href="#posx">gain reputation</a>.
      </i>
    </h2>
    <div class="tb" fill="resources"></div>
    <small>
      <a href="##more">+ share something</a>
    </small> -->
  
  </div>
  
</div>
