ul.categories {
  margin-left: 10px;
  padding-left: 0px;
}

.categories > a {
  font-size: 16px;
  font-weight: bold;
  color: #009;
}

.categories > span {
  color: #777;
  font-size: 12px;
}
.categories div a {
  font-size: 11px;
  color: #27a;
}

.categories div {
  margin-bottom: 10px;
  margin-left: 10px;
}

body.no_city #category_dialog, body.has_atag #category_dialog {
  display: none;
}

body.has_city #city_chooser {
  display: none;
}

body.no_city #idea_dialog, body.has_atag #idea_dialog {
  display: none;
}
