.categories {
  margin-top: 15px;
}

.categories div a.cat {
  font-size: 16px;
  font-weight: bold;
  color: #009;
}

.categories div span, #city_chooser li span {
  color: #555;
  font-size: 12px;
  position: absolute;
  right: 20px;
}
.categories div a {
  font-size: 11px;
  color: #27a;
  color: black;
}

.categories div {
  margin-bottom: 10px;
  border: solid thin #444;
  background: #bbb;
  padding: 2px 7px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
/*  margin-left: 10px;*/
}

/* FIXME would be cool if it could rollover like this and be clickable
.categories div:hover {
	background: #ccc;
	cursor: pointer;
}
*/

#city_chooser li {
	position: relative;
}

body.no_city #category_dialog, body.has_atag #category_dialog {
  display: none;
}

body.has_city #city_chooser {
  display: none;
}

body.no_atag #idea_dialog, body.has_idea #idea_dialog {
  display: none;
}
