.ops.show_city {
  max-width: 650px;
  top: 30px; 
  right: auto;
  left: auto;
  -webkit-transition: opacity 1s ease;
}

.palette.divcenter {
  max-width: 650px;
  top: 30px; 
  right: auto;
  left: auto;
  -webkit-transition: opacity 1s ease;
  z-index: 200;
}

/* positioning */
.welcome.divcenter .tgray { padding-top: 10px; }
.welcome.divcenter .section1 p {
  text-align: center;
}
.welcome.divcenter .section2 { position: relative; height: 230px; }
.welcome.divcenter .section2 .col1 { position: absolute; width: 237px; left: 60px; }
.welcome.divcenter .section2 .col2 { position: absolute; width: 237px; left: 360px; }
