<div style="display:none" id="new_landmark_dialog">
	<div class="head">Add a landmark</div>
	<div class="secintro">
		Currently we need a street address to add a landmark.  In the future,
		you will be able to drag n' drop markers directly on the map.
	</div>
	
	<div class="content">
		<form>
			<div class="smallgray">
				What should we call the landmark?
			</div>
			<div>
				<input type="text" name="title" size="40"/>
			</div>

			<div class="smallgray space">
				What's a shorter name for using in text messages?
			</div>
			<div>
				<input type="text" name="name" size="40"/>
			</div>

			<div class="smallgray space">
				What's the street address?  Include the zipcode or city name.
			</div>
			<div>
				<input type="text" name="addr" size="40"/>
			</div>

			<div class="space">
				This is
				<select name="ltypes">
					<option value="park">a public park</option>
					<option value="cafe">a cafe or shop</option>
					<option value="street">a streetcorner or sidewalk</option>
					<option value="room">a spacious building or room</option>
					<option value="">none of the above</option>
				</select>
			</div>

			<div class="space">
				<input type="image" src="i/buttons/go.png"/>
			</div>
		</form>
	</div>
</div>
