#celebrate_exalt_index {display:none;}
body.celebrate_app.exalt_index #celebrate_exalt_index {display:block;}

body.celebrate_app #app_list a.celebrate_app_link {
  color: white;
}

#celebrate_recipe_index {display:none;}
body.celebrate_app.recipe_index #celebrate_recipe_index {display:block;}

.hud2 {
  background: white;
}

.csl a {
  padding-left: 3px;
/*  padding-right: 3px;*/
  color: #444;
  font-size: 14px;
}

.csl a.mine {
  color: #850;
}

.csl a.s2 {
  font-size: 15px;
}

.csl a.s3 {
  font-size: 17px;
}

.csl a.s4 {
  font-size: 19px;
}
