#msgbar {
  font-family: gill sans, helvetica, arial;  
	right: 0px; top: 37px; width: 150px; 
	height: 12px;
  position:absolute; 
  z-index: 120;
  width: 380px;
  padding-top: 5px;
  padding-bottom: 5px;
  
/*  border-top: 1px solid #604940;
  border-left: 1px solid #503930;
  background: #1d1212;
  background: #fdf2f2;
  background: #c2c2ff;  
*/
}

#msgbar_msg {
	font-size: 13px;
  text-align: center;
  color: #a72;
  position: relative;
  top: -6px;

/*  color: #421;*/

  color: #a72;
}

#msgbar_msg a {
  font-weight: bold;
  font-size: 15px;
  position: relative;
  top: 2px;
}

#msgbar_msg a b {
  position: relative;
  top: 2px;
}

#msgbar_msg .rightnow {
  font-variant: small-caps;
  position: relative;
/*  top: -4px;*/
  left: -8px;
  text-decoration: underline;
}

#msgbar_msg a:hover {
  color: #ca3;
  color: #ccc;
  text-decoration: none;
}
