<div id="person_for_dispatch_mode" class="mapwindow template" style="max-width: 800px">
  <div class="group">
    <img style="height: 100px; width: 100px; float: left" 
      class="niw_thumb" 
      fill="item_thumb_url src" />
      
    
    <div style="float:left; max-width: 450px">
      <h2 fill="item_title"></h2>  <ul class="tags skills" fill="agent_skills_as_lis"></ul>
      
      <div class="grayish">
        This agent is <b class="highlight" fill="item_status"></b>
        <!-- Squad Info: and on <b><span fill="item_squad"></span></b>. -->
      </div>
      <div if="is_latched">
        activity: <b class="highlight" fill="item_current_assignment"></b>
      </div>
      <p id="problem" if="has_problem">
        <span class="heading">has a problem:</span> <b fill="problem" class="highlight">I can't feel my feet!</b>
      </p>
      
      <form id="make_it_happen_form">
        <input if="agent_assignable" name="assign"
          class="text"
          type="text"
          fill="agent_assign_prompt hint" 
          hint="What would you like this agent to do?" 
        /><button type="submit" class="submit">
            Send<strong>&rarr;</strong>
          </button>
        <!-- no white space between the above <input> and <button> -->
      </form>
      
      <div class="grayish right" style="padding-right:20px">
        Give them:
        <ul fill="upfors_as_lis" class="tags upfor"></ul>
      </div>
      
      <div id="q-and-a">
        <h6>What They've Said</h6>
        <div fill="answers"></div>
      </div>
    </div>
  </div>
</div>
