<div id="organize_agent_iw" class="mapwindow" style="max-width: 800px">
  <div class="intro">
    <h2>BLUM, BLUM, and MYERS</h2>
  </div>
  <div class="group">
    <img style="height: 100px; width: 100px; float: left" class="niw_thumb" fill="item_thumb_url src"/>
    <div style="float:left; max-width: 450px">
      has been involved with <b>45</b> positive experiences
      
      <p class="status" fill="item_status"></p>
      <p class="believes" fill="item_believesin"></p>
      <p class="state" fill="item_current_assignment"></p>
      <form id="make_it_happen_form">
        <input if="agent_assignable" name="assign" type="text" size="38" class="big" fill="agent_assign_prompt hint" hint="What would you like this agent to do?"/>
        <!-- <input if="agent_latched_and_assigned" name="assign" type="text" size="38" class="big" hint="New instructions for this agent?"/> -->
        <!-- <div class="xspace">
          <h3>Or choose a prefab assignment:</h3>
        </div>
        <div fill="ideas_for_agent"></div> -->
        <!-- <div class="right">
          <input type="submit" value="make it happen"/>
        </div> -->
      </form>
    </div>
  </div>
  <div id="iw_menu_place" style="position:relative; clear:both"></div>

  <p class="believes" fill="item_celebrates"></p>
  <p class="believes" fill="item_helpwith"></p>
  <div class="didrecent" fill="item_didrecent"></div>
</div>


